{{<mdl}}
  {{$title}} Patronažna služba - Prijava {{/title}}
  
  {{$content}}
    <form action="#">
        Izberi vrsto obiska:
        <p>
            <input name="tipDn" type="radio" id="tipDnP" />
            <label for="test1">Preventiva</label>
        </p>
        <p>
            <input name="tipDn" type="radio" id="tipDnK" />
            <label for="test2">Kurativa</label>
        </p>   
        Izberi vrsto obiska  
    </form>

 <div class="row">
    <div class="col s6">
      <div class="row">
        <div class="input-field col s6">
          <input type="text" class="zdravila">
          <label for="autocomplete-input">Autocomplete</label>
        </div>
      </div>
    </div>
  </div>
<!--
<div class="container" id="vue-app"> 
    <todo-component></todo-component>
</div> 

<script type="x-template" id="todo-component">
    <div>
        <h3>Example vue todo component</h3>
        <div v-for="item in items" class="form-group" :class="{'has-success': item.completed}">
            <div class="input-group">
                <div class="input-group-addon">
                    <input type="checkbox" v-model="item.completed">
                </div>
                <input type="text" v-model="item.title" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <input type="text" v-model="newItem" class="form-control">
                <div class="input-group-btn">
                    <button class="btn" :class="{'btn-primary': newItem}" @click="addItem()">add!</button>
                </div>
            </div>
        </div>
    </div>
</script>
-->
  

  {{/content}}
{{/mdl}}