<md-card>
  <md-card-content>
    <h2> Izpis podatkov o obisku </h2>
  </md-card-content>
</md-card>

<md-card>
  <md-card-content>
    <h3>Osnovni podatki</h3>
    <div *ngIf="dn">
      <p> <label style="color:black"> Ime: </label><b> {{dn?.ime}} </b></p>
      <p> <label style="color:black"> Priimek: </label><b> {{dn?.priimek}} </b></p>
      <br>



      <p><span class="tip">Vrsta obiska:</span> {{dn.vrstaobiska}}</p>
      <p><span class="tip">Izdajatelj:</span> {{dn.izdajatelj}}</p>
      <p><span class="tip">Datum izdaje DN:</span> {{dn.datumizdaje | date: 'dd.MM.yyyy'}}</p>
      <p><span class="tip">Predvideni datum obiska:</span> {{predvideni | date: 'dd.MM.yyyy'}}</p>
      <p><span class="tip">Planiran datum obiska:</span> {{planirani | date: 'dd.MM.yyyy'}}</p>
      <p><span class="tip"> Obisk ID:</span> {{oid}}</p>
      <p><span class="tip"> Številka obiska:</span> {{stevilkaObiska}}</p>
      <p><span class="tip"> DN ID:</span> {{dn.id}}</p>
      
      <p><span class="tip"> Sestra:</span> {{sestra}}</p>
      <p><span class="tip"> Nadomestna sestra:</span> {{nadomestnasestra}}</p>



    </div>
  </md-card-content>
</md-card>

<md-card>
  <md-card-content>
    <div *ngIf="podatki">

      <div *ngIf="dn.vrstaobiskaid === 1">
        <table>
          <tr>
            <td>Pričakovani datum poroda</td>
            <td>{{ podatki["10_140"] | date: 'dd.MM.yyyy' }}</td>
          </tr>
          <tr>
            <td>Anamneza</td>
            <td>{{ podatki["10_150"] }}</td>
          </tr>
          <tr>
            <td>Družinska anamneza</td>
            <td>{{ podatki["10_160"] }}</td>
          </tr>
          <tr>
            <td>Izražanje čustev</td>
            <td>{{ ["Moteno","Ni moteno"][podatki["10_170"]-1] }} {{ podatki["10_170_prost"] }}</td>
          </tr>
          <tr>
            <td>Fizična obremenjenost</td>
            <td>{{ ["Nizka","Srednja","Visoka"][podatki["10_180"]-1] }} {{ podatki["10_180_prost"] }}</td>
          </tr>
          <tr>
            <td>Sistolični krvni pritisk</td>
            <td>{{ podatki["10_190_s"] }} mm Hg</td>
          </tr>
          <tr>
            <td>Diastolični krvni pritisk</td>
            <td>{{ podatki["10_190_d"] }} mm Hg</td>
          </tr>
          <tr>
            <td>Srčni utrip</td>
            <td>{{ podatki["10_200"] }} udarcev na minuto</td>
          </tr>
          <tr>
            <td>Dihanje</td>
            <td>{{ podatki["10_210"] }} vdihov na minuto</td>
          </tr>
          <tr>
            <td>Telesna temperatura</td>
            <td>{{ podatki["10_220"] }} st C</td>
          </tr>
          <tr>
            <td>Telesna teža pred nosečnostjo</td>
            <td>{{ podatkiPrvi && stevilkaObiska!==1 ? podatkiPrvi["10_230"] : podatki["10_230"] }} kg</td>
          </tr>
          <tr>
            <td>Trenutna telesna teža</td>
            <td>{{ podatki["10_240"] }} kg</td>
          </tr>

          <tr>
            <td>Seznanitev nosečnice o normalnem poteku nosečnosti in o spremembah na telesu</td>
            <td>{{ podatki["10_10"] }}</td>
          </tr>
          <tr>
            <td>Povabilo v šolo za starše</td>
            <td>{{ podatki["10_20"] }}</td>
          </tr>
          <tr>
            <td>Seznanitev o rednih ginekoloških pregledih</td>
            <td>{{ podatki["10_30"] }}</td>
          </tr>
          <tr>
            <td>Seznanitev z bližajočim se porodom in pravočasnim odhodom v porodnišnico</td>
            <td>{{ podatki["10_40"] }}</td>
          </tr>
          <tr>
            <td>Pogovor in vključevanje partnerja v nosečnost in porod ter po prihodu domov</td>
            <td>{{ podatki["10_50"] }}</td>
          </tr>
          <tr>
            <td>Svetovanje o pripomočkih, ki jih bo potrebovala v porodnišnici</td>
            <td>{{ podatki["10_60"] }}</td>
          </tr>
          <tr>
            <td>Seznanitev nosečnice o štetju in beleženju plodovih gibov</td>
            <td>{{ podatki["10_70"] }}</td>
          </tr>
          <tr>
            <td>Svetovanje glede opreme za novorojenca in primerno ležišče</td>
            <td>{{ podatki["10_80"] }}</td>
          </tr>
          <tr>
            <td>Svetovanje o pravilni prehrani, ustrezni izbiri obleke in obutve</td>
            <td>{{ podatki["10_90"] }}</td>
          </tr>
          <tr>
            <td>Svetovanje o primernem režim življenja, telesne vaje, gibanje na svežem zraku</td>
            <td>{{ podatki["10_100"] }}</td>
          </tr>
          <tr>
            <td>Odsvetovanje razvad kot so uživanje alkohola, kajenje, uživanje zdravil in drog</td>
            <td>{{ podatki["10_110"] }}</td>
          </tr>
          <tr>
            <td>Nevšečnosti (slabosti, bruhanja, zaprtja, pogostih mikcij, nespečnosti, zgage, ...)</td>
            <td>{{ podatki["10_120"] }}</td>
          </tr>
          <tr>
            <td>Seznanitev nosečnice s pravicami do starševskega dopusta in o uveljavljanju pravic povezanih z rojstvom otroka.</td>
            <td>{{ podatki["10_130"] }}</td>
          </tr>
        </table>
      </div>

      <div *ngIf="dn.vrstaobiskaid === 2">
        <table>
          <tr>
            <td>Sistolični krvni pritisk</td>
            <td>{{ podatki["20_160_s"] }} mm Hg</td>
          </tr>
          <tr>
            <td>Diastolični krvni pritisk</td>
            <td>{{ podatki["20_160_d"] }} mm Hg</td>
          </tr>
          <tr>
            <td>Srčni utrip</td>
            <td>{{ podatki["20_170"] }} udarcev na minuto</td>
          </tr>
          <tr>
            <td>Dihanje</td>
            <td>{{ podatki["20_180"] }} vdihov na minuto</td>
          </tr>
          <tr>
            <td>Telesna temperatura</td>
            <td>{{ podatki["20_190"] }} st C</td>
          </tr>
          <tr>
            <td>Telesna teža</td>
            <td>{{ podatki["20_200"] }} kg</td>
          </tr>
          <tr>
            <td>Anamneza</td>
            <td>{{ podatki["20_210"] }}</td>
          </tr>
          <tr>
            <td>Družinska anamneza</td>
            <td>{{ podatki["20_220"] }}</td>
          </tr>
          <tr>
            <td>Izražanje čustev</td>
            <td>{{ ["Moteno","Ni moteno"][podatki["20_230"]-1] }} {{ podatki["20_230_prost"] }}</td>
          </tr>
          <tr>
            <td>Fizična obremenjenost</td>
            <td>{{ ["Nizka","Srednja","Visoka"][podatki["20_240"]-1] }} {{ podatki["20_240_prost"] }}</td>
          </tr>

          <tr>
            <td>Kontrola vitalnih funkcij</td>
            <td>{{ podatki["20_20"] }}</td>
          </tr>
          <tr>
            <td>Opazovanje čišče</td>
            <td>{{ podatki["20_30"] }}</td>
          </tr>
          <tr>
            <td>Nadzor nad izločanjem blata in urina</td>
            <td>{{ podatki["20_40"] }}</td>
          </tr>
          <tr>
            <td>Zdravstveno vzgojno delo glede pravilnega rokovanja z novorojenčkom, učenje tehnike nege novorojenčka</td>
            <td>{{ podatki["20_50"] }}</td>
          </tr>
          <tr>
            <td>Motivacija za dojenje. Nadzor in pomoč pri dojenju</td>
            <td>{{ podatki["20_60"] }}</td>
          </tr>
          <tr>
            <td>Svetovanje o čustveni podpori s strani partnerja</td>
            <td>{{ podatki["20_70"] }}</td>
          </tr>
          <tr>
            <td>Seznanitev o otrokovih potrebah po toplini, nežnosti in varnosti</td>
            <td>{{ podatki["20_80"] }}</td>
          </tr>
          <tr>
            <td>Svetovanje o spalnih potrebah otročnice, pravilni negi in higieni</td>
            <td>{{ podatki["20_90"] }}</td>
          </tr>
          <tr>
            <td>Svetovanje o pravilni prehrani, pitju ustreznih količin tekočin</td>
            <td>{{ podatki["20_100"] }}</td>
          </tr>
          <tr>
            <td>Poučitev o poporodni telovadbi</td>
            <td>{{ podatki["20_110"] }}</td>
          </tr>
          <tr>
            <td>Seznanitev z nekaterimi obolenji</td>
            <td>{{ podatki["20_120"] }}</td>
          </tr>
          <tr>
            <td>Napotitev na poporodni pregled</td>
            <td>{{ podatki["20_130"] }}</td>
          </tr>
          <tr>
            <td>Seznanitev z metodami zaščite pred nezaželjno nosečnostjo</td>
            <td>{{ podatki["20_140"] }}</td>
          </tr>
          <tr>
            <td>Svetovanje o normalnem delu, življenju in spolnih odnosih</td>
            <td>{{ podatki["20_150"] }}</td>
          </tr>
        </table>

        <div *ngFor="let otrok of dn.otroci">
          Podatki za otroka: <span class="otrokime"><b>{{otrok.imepriimek}}</b></span>
          <table>
            <tr>
              <td>Datum rojstva otroka</td>
              <td>{{(podatkiPrvi && stevilkaObiska!==1 ? podatkiPrvi["o"+otrok.id+"_20_10_rojstvo"] :  podatki["o"+otrok.id+"_20_10_rojstvo"]) | date: 'dd.MM.yyyy' }}</td>
            </tr>
            <tr>
              <td>Porodna teža otroka</td>
              <td>{{podatkiPrvi && stevilkaObiska!==1 ? podatkiPrvi["o"+otrok.id+"_20_10_porodnaTeza"] : podatki["o"+otrok.id+"_20_10_porodnaTeza"] }} g</td>
            </tr>
            <tr>
              <td>Porodna višina otroka</td>
              <td>{{podatkiPrvi && stevilkaObiska!==1 ? podatkiPrvi["o"+otrok.id+"_20_10_porodnaVisina"]: podatki["o"+otrok.id+"_20_10_porodnaVisina"] }} cm </td>
            </tr>
            <tr>
              <td>Pregled materinske knjižice in odpustnice iz porodnišnice:</td>
              <td>{{podatkiPrvi && stevilkaObiska!==1 ? podatkiPrvi["o"+otrok.id+"_20_10_prost"]: podatki["o"+otrok.id+"_20_10_prost"] }} </td>
            </tr>

            <tr>
              <td>Trenutna telesna teža</td>
              <td>{{ podatki["o"+otrok.id+"_30_60"] }} g</td>
            </tr>
            <tr>
              <td>Trenutna telesna višina</td>
              <td>{{ podatki["o"+otrok.id+"_30_70"] }} cm </td>
            </tr>
            <tr>
              <td>Dojenje</td>
              <td>{{ ["Da","Ne"][podatki["o"+otrok.id+"_30_80"]-1] }} {{podatki["o"+otrok.id+"_30_80_prost"] }}</td>
            </tr>
            <tr>
              <td>Dodajanje adaptiranega mleka</td>
              <td>{{ ["Da","Ne"][podatki["o"+otrok.id+"_30_90"]-1] }} {{podatki["o"+otrok.id+"_30_90_prost"] }}</td>
            </tr>
            <tr>
              <td>Izločanje in odvajanje</td>
              <td>{{ ["Ni posebnosti","Mikcija", "Defekacija","Napenjanje","Bruhanje"][podatki["o"+otrok.id+"_30_100"]-1] }} {{podatki["o"+otrok.id+"_30_100_prost"] }}</td>
            </tr>

            <tr>
              <td>Ritem spanja</td>
              <td>{{ podatki["o"+otrok.id+"_30_110"] }}</td>
            </tr>
            <tr>
              <td>Povišanje bilirubina (zlatenica)</td>
              <td>{{ podatki["o"+otrok.id+"_30_120"] }}</td>
            </tr>
            <tr>
              <td>Kolki</td>
              <td>{{ podatki["o"+otrok.id+"_30_130"] }}</td>
            </tr>

            <tr>
              <td>Prikaz nege dojenčka</td>
              <td>{{ podatki["o"+otrok.id+"_30_10"] }} </td>
            </tr>
            <tr>
              <td>Nega popokovne rane</td>
              <td>{{ podatki["o"+otrok.id+"_30_20"] }} </td>
            </tr>
            <tr>
              <td>Nudenje pomoči pri dojenju in seznanitev s tehnikami dojenja</td>
              <td>{{ podatki["o"+otrok.id+"_30_30"] }} </td>
            </tr>
            <tr>
              <td>Ureditev ležišča</td>
              <td>{{ podatki["o"+otrok.id+"_30_40"] }} </td>
            </tr>
            <tr>
              <td>Nasvet za povijanje, oblačenje, slačenje</td>
              <td>{{ podatki["o"+otrok.id+"_30_50"] }} </td>
            </tr>
            <tr>
              <td>Posebnosti</td>
              <td>{{ podatki["o"+otrok.id+"_30_140"] }} </td>
            </tr>
          </table>
        </div>

      </div>

      <div *ngIf="dn.vrstaobiskaid === 3">
        <table>
          <tr>
            <td>Anamneza</td>
            <td>{{ podatki["40_10"] }}</td>
          </tr>
          <tr>
            <td>Družinska anamneza</td>
            <td>{{ podatki["40_20"] }}</td>
          </tr>
          <tr>
            <td>Sistolični krvni pritisk</td>
            <td>{{ podatki["40_30_s"] }} mm Hg</td>
          </tr>
          <tr>
            <td>Diastolični krvni pritisk</td>
            <td>{{ podatki["40_30_d"] }} mm Hg</td>
          </tr>
          <tr>
            <td>Srčni utrip</td>
            <td>{{ podatki["40_40"] }} udarcev na minuto</td>
          </tr>
          <tr>
            <td>Dihanje</td>
            <td>{{ podatki["40_50"] }} vdihov na minuto</td>
          </tr>
          <tr>
            <td>Telesna temperatura</td>
            <td>{{ podatki["40_60"] }} st C</td>
          </tr>
          <tr>
            <td>Telesna teža</td>
            <td>{{ podatki["40_70"] }} kg</td>
          </tr>
          <tr>
            <td>Stanje neodvisnosti</td>
            <td>{{ ["Samostojen","Delno odvisen","Povsem odvisen"][podatki["40_150"]-1] }} {{ podatki["40_150_prost"] }}</td>
          </tr>
          <tr>
            <td>Stanje pomoč</td>
            <td>{{ ["Svojci","Drugi"][podatki["40_150_pomoc"]-1] }}</td>
          </tr>

          <tr>
            <td>Osebna higiena</td>
            <td>{{ podatki["40_80"] }}</td>
          </tr>
          <tr>
            <td>Prehranjevanje in pitje</td>
            <td>{{ podatki["40_90"] }}</td>
          </tr>
          <tr>
            <td>Izločanje in odvajanje (urin)</td>
            <td>{{ podatki["40_100_urin"] }}</td>
          </tr>
          <tr>
            <td>Izločanje in odvajanje (blato)</td>
            <td>{{ podatki["40_100_blato"] }}</td>
          </tr>
          <tr>
            <td>Gibanje</td>
            <td>{{ podatki["40_110"] }}</td>
          </tr>
          <tr>
            <td>Čutila in občutki (vid)</td>
            <td>{{ podatki["40_120_vid"] }}</td>
          </tr>
          <tr>
            <td>Čutila in občutki (vonj)</td>
            <td>{{ podatki["40_120_vonj"] }}</td>
          </tr>
          <tr>
            <td>Čutila in občutki (sluh)</td>
            <td>{{ podatki["40_120_sluh"] }}</td>
          </tr>
          <tr>
            <td>Čutila in občutki (okus)</td>
            <td>{{ podatki["40_120_okus"] }}</td>
          </tr>
          <tr>
            <td>Čutila in občutki (otip)</td>
            <td>{{ podatki["40_120_otip"] }}</td>
          </tr>
          <tr>
            <td>Spanje in počitek</td>
            <td>{{ podatki["40_130"] }}</td>
          </tr>
          <tr>
            <td>Duševno stanje</td>
            <td>{{ podatki["40_140"] }}</td>
          </tr>
          <tr>
            <td>Pregled predpisanih terapij</td>
            <td>{{ podatki["40_160"] }}</td>
          </tr>
          <tr>
            <td>Pogovor, nasvet in vzpodbuda</td>
            <td>{{ podatki["40_170"] }}</td>
          </tr>
        </table>
      </div>

      <div *ngIf="dn.vrstaobiskaid === 4">
        <table>
          <tr *ngFor="let zdravilo of dn.zdravilodns">
            <td>Aplikacija {{zdravilo.zdravilostr}}</td>
            <td>{{podatki['z'+zdravilo.zdravilo+'_'+zdravilo.dn+'_50_10']?"DA":"NE"}}</td>
          </tr>
          <tr>
            <td>Pogovor, nasvet in vzpodbuda</td>
            <td>{{ podatki["50_20"] }}</td>
          </tr>
        </table>
      </div>

      <div *ngIf="dn.vrstaobiskaid === 5">
        <table>
          <tr *ngFor="let material of dn.materialdns">
            <td>Količina {{material.materialstr}}</td>
            <td>
              {{podatki['m'+material.material+'_'+material.dn+'_60_10']}}
            </td>
          </tr>

          <tr>
            <td>Pogovor, nasvet in vzpodbuda</td>
            <td>{{ podatki["60_20"] }}</td>
          </tr>
        </table>
      </div>

      <div *ngIf="dn.vrstaobiskaid === 6">
        <table>
          <tr>
            <td>Sistolični krvni pritisk</td>
            <td>{{ podatki["70_20_s"] }} mm Hg</td>
          </tr>
          <tr>
            <td>Diastolični krvni pritisk</td>
            <td>{{ podatki["70_20_d"] }} mm Hg</td>
          </tr>
          <tr>
            <td>Srčni utrip</td>
            <td>{{ podatki["70_30"] }} udarcev na minuto</td>
          </tr>
          <tr>
            <td>Dihanje</td>
            <td>{{ podatki["70_40"] }} vdihov na minuto</td>
          </tr>
          <tr>
            <td>Telesna temperatura</td>
            <td>{{ podatki["70_50"] }} st C</td>
          </tr>
          <tr>
            <td>Krvni sladkor</td>
            <td>{{ podatki["70_60"] }} mmol/L {{ podatki["70_60_prost"] }}</td>
          </tr>
          <tr>
            <td>Oksigenacija SpO2</td>
            <td>{{ podatki["70_70"] }} %</td>
          </tr>
          <tr>
            <td>Upoštevanje terapije</td>
            <td>{{ ["Da","Delno","Ne"][podatki["70_80"]-1] }} {{ podatki["70_80_prost"] }}</td>
          </tr>
          <tr>
            <td>Anamneza</td>
            <td>{{ podatki["70_10"] }}</td>
          </tr>
          <tr>
            <td>Pregled terapije</td>
            <td>{{ podatki["70_90"] }}</td>
          </tr>
          <tr>
            <td>Navodila za terapijo do naslednjega obiska</td>
            <td>{{ podatki["70_100"] }}</td>
          </tr>
          <tr>
            <td>Pogovor, nasvet in vzpodbuda</td>
            <td>{{ podatki["70_110"] }}</td>
          </tr>
        </table>
      </div>

    </div>
    <div *ngIf="this.podatki === undefined">
      <h3>Obisk še ni bil opravljen.</h3>
    </div>
  </md-card-content>
</md-card>