.koledar{
    display: block;
    width: 250px; 
    height: 250px;   
    font-family: Roboto,"Helvetica Neue",sans-serif;
}


.dan {
    font-size: 15px;
}

.nimesec {
    color: darkgray;
}

.danes {
    background-color: rgba(255, 0, 0, 0.2)
}

.okvir:hover {
    background-color: rgba(52, 209, 185, 0.2)
}

.izbran{
   background-color: rgba(52, 209, 185, 0.3);
   color: rgb(23, 99, 88);
   font-weight: bold;
}

.nedovoljen{
    background-color: #eeeeee;
    cursor: not-allowed;  
}

.okvir {
    cursor: pointer;
    width: 100%;
    height: 100%; 
}


md-grid-tile {
    text-align: center;
}

.okvir div  {
    position: relative;
    top: 7px;
}

.izbranMesecLeto {
    font-size: 20px;
    font-weight: bold;
}

i {
    font-size: 15px;
}
