<div md-dialog-content>
  <div class="koledar">

    <md-grid-list cols="2" rows="1" rowHeight="30px">
      <md-grid-tile>
        <i class="fa fa-angle-double-left" aria-hidden="true" (click)="minusMesec()"></i>&nbsp;
        <span class="izbranMesecLeto">
{{meseciStr[izbran.getMonth()]}}
  </span>&nbsp;
        <i class="fa fa-angle-double-right" aria-hidden="true" (click)="plusMesec()"></i>

      </md-grid-tile>
      <md-grid-tile>
        <i class="fa fa-angle-double-left" aria-hidden="true" (click)="minusLeto()"></i> &nbsp;
        <span class="izbranMesecLeto">
{{izbran.getFullYear()}}
  </span> &nbsp; <i class="fa fa-angle-double-right" aria-hidden="true" (click)="plusLeto()"></i>
      </md-grid-tile>
    </md-grid-list>

    <md-grid-list cols="7" rows="7" rowHeight="30px">
      <md-grid-tile>Pon</md-grid-tile>
      <md-grid-tile>Tor</md-grid-tile>
      <md-grid-tile>Sre</md-grid-tile>
      <md-grid-tile>Čet</md-grid-tile>
      <md-grid-tile>Pet</md-grid-tile>
      <md-grid-tile>Sob</md-grid-tile>
      <md-grid-tile>Ned</md-grid-tile>
      <md-grid-tile *ngFor="let d of datumiZaMesec" (mouseenter)="mouseenter(d)" (mouseleave)="mouseleave(d)" (click)="izbranDatum(d)">
        <div class="okvir" [ngClass]="{'nedovoljen':!dovoljen(d), 'nimesec': d.getMonth()!==mesec.getMonth(), 'danes': d.valueOf()===danes.valueOf(), 'izbran': d.valueOf()===izbran.valueOf()}">
          <div>
            {{d.getDate()}}
          </div>
        </div>
      </md-grid-tile>
    </md-grid-list>
  </div>
</div>
<div md-dialog-actions class="knofi">
  <button md-button (click)="dialogRef.close()">Nazaj</button>
</div>