To:{{email}}
From: tpo2017@mail.com
Subject: potrditveno sporocilo
Content-Type: text/html

<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Simple Transactional Email</title>
  </head>
  <body>
    Za potrditev uporabniškega računa kliknite spodnjo povezavo
    <br>
    <a href="{{URL}}">{{URL}}</a>
  </body>
</html>