<nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">Patronažna služba</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/login">Prijava</a></li>
            <li><a href="/register" class="registration-button">Registracija</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="#">Prijava</a></li>
            <li><a href="#">Registracija</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>