	<!-- CSS  -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link href="/static/css/select2.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        
	<!--  Scripts-->
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="/static/js/materialize.js"></script>
	<script src="/static/js/init.js"></script>
	<script src="/static/js/select2.min.js"></script>
    
	<script defer src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
	<!--<script src="https://unpkg.com/vue"></script>-->

	<script defer src="/vse.js"></script>
	<!--
	<script scr="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.js"></script>
	<script scr="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script> -->
