 <!-- Dropdown Structure -->
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">Nastavitve uporabnika</a></li>
    <li class="divider"></li>
    <li><a href="#">Odjava</a></li>
  </ul>
  
  <ul id="dropdown2" class="dropdown-content">
    <li><a href="#!">Ustvari nov račun za zaposlenega</a></li>
    <li class="divider"></li>
    <li><a href="#">Ustvari nov delovni nalog</a></li>
  </ul>
  
<nav class="white">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo" style="margin-left:10px;">{{title}}</a>

    <ul class="right hide-on-med-and-down">
      <li><a class="dropdown-button" href="#!" data-activates="dropdown2">Moje naloge<i class="material-icons right">arrow_drop_down</i></a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Janez Novak<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="#">Ustvari nov račun za zaposlenega</a></li>
      <li class="divider"></li>
      
      <li><a href="#!">Ustvari nov delovni nalog</a></li>
      <li class="divider"></li>
      
      <li><a href="#">Nastavitve uporabnika</a></li>
      <li class="divider"></li>
      
      <li><a href="#">Odjava</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>