<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>	
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>{{$title}}Patronažna služba{{/title}}</title>
        {{>head_includes}}  
    </head>
	<body>   



 <!-- Dropdown Structure -->
  <ul id="dropdown1" class="dropdown-content"> 
    <li><a href="/logout">Odjava</a></li>
    <li><a href="/configuration">Nastavitve</a></li>
  </ul>
  

  
  <nav class="nav-extended teal">
    <div class="nav-wrapper">
      &emsp;<a href="/" class="brand-logo white-text text-whiten-1"><i class="material-icons">cloud</i>Patronažna služba</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {{#prijava}}          
           <li><a class="dropdown-button white-text text-whiten-1" href="#!" data-beloworigin="true" data-activates="dropdown1">{{ime}} {{priimek}}<i class="material-icons right">arrow_drop_down</i></a></li>
        {{/prijava}}
        
        {{^prijava}}
         <li><a href="/login" style="color:white">prijava</a></li>
         <li><a href="/register" class="registration-button">registracija</a></li>
        {{/prijava}}

        
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>  
    </div>
    {{#zMenujem}} 
    <div class="nav-content" >
      <ul class="tabs tabs-transparent {{#menu.nihceAktiven}}nihceAktiven{{/menu.nihceAktiven}}" >
          <li class="tab" style="width:0px;"><a></a></li>     
        {{#menu.menu}} 
        <li class="tab"><a target="_self" {{#aktiven}}class="active"{{/aktiven}} href="{{URL}}">{{ime}}</a></li>     
        {{/menu.menu}}
      </ul>
    </div>
    {{/zMenujem}} 
  </nav>


  <div class="container" style="min-height: 500px; padding-top: 20px">
      <div class="row">
          <div class="col s12">
              {{$content}}vsebina{{/content}}
          </div>
      </div>
  </div>
        {{>footer}}


		
	</body>
</html>