
{{<mdl}}
  {{$title}} Vsi uporabniki {{/title}}
  
  {{$content}} 
  
       <style>
      .demo-list-three {
        width: 650px;
      }
      </style>

      <ul class="demo-list-three mdl-list">
          {{#vsebina}}
        <li class="mdl-list__item mdl-list__item--three-line">
          <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-avatar">person</i>
            <span>{{ime}} {{priimek}}</span>
            <span class="mdl-list__item-text-body">
              id:{{id}} vloga:{{vloga}}
              <br>
              email:{{email}} &nbsp; tel:{{tel}}
            </span>
          </span>
        </li>
        {{/vsebina}} 
      </ul>
  
  
  {{/content}}
{{/mdl}}








    

 