{{<mdl}}
    {{$title}}Dodaj uporabnika{{/title}}
    {{$content}}
        <script type="text/javascript">
            $(document).ready(()=>{
                Zgodba1.PridobiSifro();
                Zgodba1.GenerirajPostneStevilke();
                $('.chips').on('chip.delete', function(e, chip){
                    console.log("brisi");
                });
            });
        </script>
    
        <div class="row hide-on-med-and-down" style="padding-top:2px;">
 

            <div id="test2" class="col s12">
                <div class="col s2"></div>
                <div class="col s7 center-align">
                    
                    <div class="" id="odzivStreznika"></div>
                    
                    <form class="col s12">
                        <!-- IME in PRIIMEK uporabnika -->
                        <div class="row">
                            <div class="input-field col s6">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="ime" type="text" class="validate">
                                <label for="ime">Ime</label>
                            </div>

                            <div class="input-field col s6">
                                <input  id="priimek" type="text" class="validate">
                                <label for="priimek">Priimek</label>
                            </div>
                            <div class="row">
                                <div class="input-field col s1"></div>
                                <div class="input-field col s5">
                                    <p id="imeObvestilo" class="obvestiloElement" style="display:none">Izpolni ime</p>
                                </div>
                                <div class="input-field col s5">
                                    <p id="priimekObvestilo" class="obvestiloElement" style="display:none">Izpolni priimek</p>
                                </div>
                            </div>
                        </div>

                            <!-- NASLOV -->
                        <div class="row">
                            <div class="input-field col s4">
                                <i class="material-icons prefix">markunread_mailbox</i>
                                <input id="ulica" type="text" class="validate">
                                <label for="ulica">Ulica bivanja</label>
                            </div>

                            <div class="input-field col s4">
                                <input id="kraj" type="text" class="validate">
                                <label for="kraj">Kraj bivanja</label>
                            </div>
                            <div class="input-field col s4">
                                <select id="pStevilkaSelect" class="browser-default">
                                    <option value="" disabled selected>Izberi svojo poštno število</option>
                                </select>
                            </div>
                            
                        </div>
                            <!-- NASLOV OBVESTILO -->
                        <div class="row">
                            <div class="input-field col s4">
                                <p id="ulicaObvestilo" class="obvestiloElement" style="display:none">Izpolni ulico bivanja</p>
                            </div>
                            <div class="input-field col s4">
                                <p id="krajObvestilo" class="obvestiloElement" style="display:none">Izpolni kraj bivanja</p>
                            </div>
                            <div class="input-field col s3">
                                <p id="pStevilkaSelectObvestilo" class="obvestiloElement" style="display:none">Izberi pošto</p>
                            </div>
                        </div>
                            <!-- EMAIL -->
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">email</i>
                                <input onblur="Zgodba1.PreveriEmail()" id="email" type="email" class="validate">
                                <label for="email">Email</label>
                            </div>
                            <div class="input-field col s1"></div>
                            <div class="input-field col s4">
                                <p id="emailObvestilo" class="obvestiloElement" style="display:none">Izpolni email</p>
                            </div>
                        </div>

                            <!-- GESLO -->
                        <div class="row">
                            <legend style="color: #009688;font-weight:bold;margin-bottom:1%;">Vsaj 8 znakov, vsaj 1 numerični</legend>
                            <div class="input-field col s6">
                                <i class="material-icons prefix">lock</i>
                                <input id="geslo" type="password" oninput="Zgodba1.PreveriPravilnostGesla(this.id)" onblur="Zgodba1.PreveriPodobnostGesla()" class="validate">
                                <label for="geslo">Geslo</label>
                            </div>
                            <div class="input-field col s6">
                                <i class="material-icons prefix">lock</i>
                                <input id="geslo2" type="password" oninput="Zgodba1.PreveriPravilnostGesla(this.id)" onblur="Zgodba1.PreveriPodobnostGesla()" class="validate">
                                <label for="geslo">Ponovno vpiši geslo</label>
                            </div>
                            <div class="input-field col s1"></div>
                            <div class="input-field col s6">
                                <p id="gesloObvestilo" class="obvestiloElement" style="display:none">Izpolni geslo</p>
                            </div>
                            <div class="input-field col s4">
                                <p id="geslo2Obvestilo" class="obvestiloElement" style="display:none">Izpolni geslo</p>
                            </div>
                        </div>
                            <!-- TELEFON -->
                        <div class="input-field col s12" style="margin-bottom:5%;">
                            <i class="material-icons prefix">phone</i>
                            <input id="telefon" type="tel" class="validate" data-length="13">
                            <label for="icon_telephone">Telefon</label>
                            <div class="input-field col s1"></div>
                            <div class="input-field col s5">
                                <p id="telefonObvestilo" class="obvestiloElement" style="display:none">Izpolni telefonsko številko</p>
                            </div>
                        </div>

                            <!-- SIFRA IZVAJALCA -->
                        <div class="input-field col s12" style="margin-bottom:5%;">
                            <select id="sifraIzvajalecSelect">
                                <option value=""></option>
                                <option value="1">#55206, AMBULANTA SPLOŠNE MEDICINE CS ČRNUČE</option>
                                <option value="2">#20216, DOM DR. JOŽETA POTRČA POLJČANE</option>
                                <option value="3">#55183, ORDINACIJA ANJA RELJIĆ PRINČIČ D.O.O.</option>
                            </select>
                            <label>Šifra izvajalca</label>
                            <div class="input-field col s3">
                                <p id="sifraIzvajalecSelectObvestilo" class="obvestiloElement" style="display:none">Izberi izvajalca</p>
                            </div>
                        </div>

                            <!-- SIFRA ZAPOSLENEGA -->
                        <div class="input-field col s6">
                            <!--<i class="material-icons prefix">account_circle</i>-->
                            <input disabled id="sifraZaposleni" type="text" class="validate">
                            <label for="sifraZaposleni">Šifra zaposlenega</label>
                        </div>
                        
                        <div class="input-field col s6" style="margin-bottom:10%;">
                            <button class="btn waves-effect waves-light" type="button" onclick="Zgodba1.PridobiSifro()">Generiraj šifro
                                <i class="material-icons right">loop</i>
                            </button>
                        </div>
                            <!-- IZBERI VRSTO ZAPOSLENEGA -->
                        <div class="input-field col s12"style="margin-bottom:10%;">
                            <select id="vlogaSelect" onchange="Zgodba1.prikaziOkolisSelect()">
                                <option value=""></option>
                                <option value="1">Zdravnik</option>
                                <option value="2">Vodja patronažne službe</option>
                                <option value="3">Patronažna sestra</option>
                                <option value="4">Uslužbenec</option>
                            </select>
                            <label>Izberi vrsto zaposlenega</label>
                            <div class="input-field col s5">
                                <p id="vlogaSelectObvestilo" class="obvestiloElement" style="display:none">Izberi vrsto zaposlenega</p>
                            </div>
                        </div>
                            <!-- IZBERI Okoliš za Sestro -->
                        <div id="okolisDiv" class="input-field col s12"style="margin-bottom:10%;display:none">
                            <select id="okolisSelect" >
                                <option value="0"></option>
                                <option value="1">Okolis 1</option>
                                <option value="2">Okolis 2</option>
                                <option value="3">Okolis 3</option>
                            </select>
                            <label>Izberi okoliš patronažne sestre</label>
                            <div class="input-field col s5">
                                <p id="vlogaSelectObvestilo" class="obvestiloElement" style="display:none">Izberi okoliš</p>
                            </div>
                        </div>

                        <button class="btn waves-effect waves-light" type="button" onclick="Zgodba1.RegistrirajZO()">Ustvari uporabnika
                            <i class="material-icons right">send</i>
                        </button>
                    </form>
                </div>

            </div>
        </div>
    {{/content}}
{{/mdl}}