<!DOCTYPE html>
<html lang="en">
    <head>
			<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>	
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
			<title>Patronažna služba</title>
			{{>head_includes}}  
    </head>
	
	<body>
		<nav class="white" role="navigation">
			<div class="nav-wrapper container">
			  <a id="logo-container" href="#" class="brand-logo">Patronažna služba</a>
			  <ul class="right hide-on-med-and-down">
					<li><a href="/login">Prijava</a></li>
					<li><a href="/register" class="registration-button">Registracija</a></li>
			  </ul>

			  <ul id="nav-mobile" class="side-nav">
					<li><a href="#">Prijava</a></li>
					<li><a href="#">Registracija</a></li>
			  </ul>
			  <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
			</div>
		</nav>

		<div id="index-banner" class="parallax-container">
			<div class="section no-pad-bot">
			  <div class="container">
				<br><br>
				<h1 class="header center teal-text text-lighten-2">Patronažna služba</h1>
				<div class="row center">
				  <h5 class="header col s12 light">SPLETNA PLATFORMA ZA PREGLED IN NAROČANJE MEDICINSKE POMOČI NA VAŠEM DOMU</h5>
				</div>
				<div class="row center">
				  <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1" style="display:none">Get Started</a>
				</div>
				<br><br>
			  </div>
			</div>
			<div class="parallax"><img src="/static/img/background1.jpg" alt="Unsplashed background img 1"></div>
		</div>


		<div class="container">
			<div class="section">

			  <!--   Icon Section   -->
			  <div class="row">
				<div class="col s12 m4"></div>

				<div class="col s12 m4">
				  <div class="icon-block">
					<h2 class="center brown-text"><i class="material-icons">group</i></h2>
					<h5 class="center">Projektna naloga</h5>
					<p class="light">"Patronažna služba" je projektna naloga pri predmetu Tehnologija programske opreme - Razvoj po agilni metodologiji Scrum</p>
				  </div>
				</div>
			  </div>

			</div>
		</div>


		<div class="parallax-container valign-wrapper">
			<div class="section no-pad-bot">
			  <div class="container">
				<div class="row center">
				  <h5 class="header col s12 light"></h5>
				</div>
			  </div>
			</div>
			<div class="parallax"><img src="/static/img/background2.jpg" alt="Unsplashed background img 2"></div>
		</div>

		<div class="container">
		<div class="section">

		  <div class="row">
			<div class="col s12 center">
			  <h3><i class="mdi-content-send brown-text"></i></h3>
			  <h4>Kontaktiraj nas</h4>
			  <p class="left-align light">Projekt je šele v začetni fazi izdelave.</p>
			</div>
		  </div>

		</div>
		</div>


		<div class="parallax-container valign-wrapper">
			<div class="section no-pad-bot">
			  <div class="container">
				<div class="row center">
				  <h5 class="header col s12 light"></h5>
				</div>
			  </div>
			</div>
			<div class="parallax"><img src="/static/img/background3.jpg" alt="Unsplashed background img 3"></div>
		</div>
	
		{{>footer}}
	</body>
</html>