{{<mdl}}   
    {{$content}}
    <h5>Pozdravljen, {{#prijava}} {{ime}} {{priimek}}{{/prijava}}. </h5>
    <br>

    <p>Veseli nas da spet uporabljate naše storitve. </p>
   
    <p>Vaša vloga v sistemu patronžne službe: {{#prijava}}{{vloga}}{{/prijava}}</p>


       
    
    {{/content}}
{{/mdl}}