<md-card>
  <md-card-content>
    <h2>Sprememba gesla</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">


      <p>
        <md-input-container>
          <input mdInput placeholder="Staro geslo" formControlName="oldPsw" type="password">
        </md-input-container>
      </p>

      <p>
        <md-input-container>
          <input mdInput placeholder="Geslo" value="" type="password" formControlName="newPsw">
        </md-input-container>
      </p>
      <p>
        <span *ngIf="!loginForm.get('newPsw').valid">
          <span class="psinputerror" *ngIf="loginForm.controls.newPsw.touched && loginForm.controls.newPsw.errors.premajhnogeslo">Geslo mora vsebovati vsaj 8 znakov.</span>
        <span class="psinputerror" *ngIf="loginForm.controls.newPsw.touched && loginForm.controls.newPsw.errors.nistevilke">Geslo mora vsebovati vsaj eno števko.</span>
        </span>
      </p>

      <p>
        <md-input-container>
          <input mdInput placeholder="Ponovite geslo" value="" type="password" formControlName="newPsw2">
        </md-input-container>
      </p>
      <p>
        <span *ngIf="!loginForm.get('newPsw2').valid">
          <span class="psinputerror" *ngIf="!loginForm.controls.newPsw2.pristine && loginForm.controls.newPsw2.errors.nevjemanje">Gesli se morata ujemati.</span>
        </span>
      </p>

      <p>
        <button md-raised-button type="submit" [disabled]="!this.loginForm.valid">Spremeni geslo</button>
      </p>
    </form>
  </md-card-content>
</md-card>