
@import "src/sass_spremenljivke.scss";

.stolpca {
    display: flex;
    flex-direction: row;
}


.levo {
    width: 50%;   
    /*background: lightblue;*/
}

.levo-obvezno {
    border-bottom: 2px solid $barva-obrob;
    margin: 0 20px 40px 0;  
}

.desno {
    width: 50%; 
    /*background: lightgreen;  */
    border-left: 2px solid $barva-obrob;
    padding-left: 40px;  
}

md-select {
    width: 250px;
}


.vrstica{
    margin: 30px 0px 30px 0px;
}

.polje {
    margin:5px 20px 0 0;
    padding:10px;
    border: 2px solid $barva-obrob;
    border-radius: 5px;
}

.element {
    margin-bottom: 10px;
}

.gumb-odstrani{
     visibility: hidden;
}

md-radio-button {
    margin-top: 5px;
}

.brez-dodatnih-vnosov {
    color: lightgray;
}

.dodatni-info{
    color:#555555;
}

*:hover > .gumb-odstrani{
    visibility: visible;
}

:host /deep/ ps-select > md-select {
       width:260px;       
}
 

