<!--<input type="text" [validacija]="'x=>x.value===`Matej`?null:`Napaka`'" ngModel #refx="ngModel">-->

<md-card>
  <md-card-content>

    <h2>Kreiranje delovnega naloga</h2>

    <form #f="ngForm" (ngSubmit)="dodaj()">
      <div class="stolpca">
        <div class="levo">
          <h3>Osnovni podatki o delovnem nalogu</h3>

          <div class="levo-obvezno">
            <div class="vrstica">
              <ps-select class="vrstaobiska" placeholder="Vrsta obiskov" [polje]="vrsteobiska" vrednost="x=>x.id" prikaz="x=>x.ime" name="vrstaobiska"
                [(ngModel)]="dn.vrstaobiska" required></ps-select>
            </div>

            <div class="vrstica">
              <ps-autocomplete2 placeholder="Pacient" polje="/api/isci_uporabnika" vrednost="p=>p.oseba.id" prikaz="p=>`${p.oseba.ime} ${p.oseba.priimek}, ZZZS: ${p.pacient.sifrazavarovanja}`"
                name="pacient" [(ngModel)]="dn.pacient" #pacientControl="ngModel" #pacientAC="ps-autocomplete2" required></ps-autocomplete2>
              <div class="dodatni-info" *ngIf="pacientAC.objekt">{{pacientAC.objekt.oseba.ulica}} {{pacientAC.objekt.oseba.hisnastevilka}}, {{pacientAC.objekt.oseba.postna}}
                {{imekraja | async}} </div>
            </div>

            <div class="vrstica">
               <ps-select placeholder="Medicinska sestra" [polje]="sestre" vrednost="x=>x.id" prikaz="x=>x.ime" name="sestra"
                [(ngModel)]="dn.sestra" required #sestraControl="ngModel"></ps-select>
            </div>
          </div>

          <h3>Specifični podatki za vrsto</h3>

          <!--Popraviti je treba te kode tu in v bazi, da bodo ustrezale kodam v excelovem dokumentu-->

          <!-----------Obisk nosečnice---------------------------------->
          <div [hidden]="dn.vrstaobiska !== 1">
            <div class="brez-dodatnih-vnosov"> Brez dodatnih vnosov </div>
          </div>

          <!-----------Otročnica z otroci------------------------------>
          <div [hidden]="dn.vrstaobiska !== 2">
            <div class="vrstica">
              <label>Otroci: </label>
              <button (click)="dn.otroci.push(null)" type="button" class="okrogel-gumb" md-raised-button color="primary"><i class="fa fa-plus" aria-hidden="true"></i></button>
              <div *ngIf="dn.otroci.length !== 0" class="polje">
                <div class="element" *ngFor="let otrok of dn.otroci; let i = index; trackBy: trackByIndex">
                  <ps-select [polje]="otroci" prikaz="o=>o.oseba.ime + ' ' + o.oseba.priimek" name="otrok{{i}}" vrednost="o=>o.oseba.id" [(ngModel)]="dn.otroci[i]"
                    required></ps-select>
                  <button (click)="dn.otroci.splice(i, 1)" type="button" class="okrogel-gumb gumb-odstrani" md-raised-button color="primary"><i class="fa fa-minus" aria-hidden="true"></i></button>
                  <br>
                </div>
              </div>
            </div>
          </div>

          <!-----------Preventiva starostino ---------------------------->
          <div [hidden]="dn.vrstaobiska !== 3">
            <div class="brez-dodatnih-vnosov"> Brez dodatnih vnosov </div>
          </div>

          <!-----------Aplikacija injekcij ---------------------------->
          <div [hidden]="dn.vrstaobiska !== 4">
            <div class="vrstica">
              <label>Zdravila: </label>
              <button (click)="dn.zdravila.push(null)" type="button" class="okrogel-gumb" md-raised-button color="primary"><i class="fa fa-plus" aria-hidden="true"></i></button>
              <div *ngIf="dn.zdravila.length !== 0" class="polje">
                <div class="element" *ngFor="let zdravilo of dn.zdravila; let i = index; trackBy: trackByIndex">
                  <ps-select placeholder="zdravilo" [polje]="skupno.sifranti.zdravila" prikaz="o=>o.naziv" name="zdravilo{{i}}" vrednost="o=>o.id"
                    [(ngModel)]="dn.zdravila[i]" required></ps-select>
                  <button (click)="dn.zdravila.splice(i, 1)" type="button" class="okrogel-gumb gumb-odstrani" md-raised-button color="primary"><i class="fa fa-minus" aria-hidden="true"></i></button>
                </div>
              </div>
            </div>
          </div>
          <!-----------Odvzem krvi------------------------------------>
          <div [hidden]="dn.vrstaobiska !== 5">
            <div class="vrstica">
              <label>Epruvete: </label>
              <button (click)="dodajmaterial()" type="button" class="okrogel-gumb" md-raised-button color="primary"><i class="fa fa-plus" aria-hidden="true"></i></button>
              <div *ngIf="dn.material.length !== 0" class="polje">
                <div class="element" *ngFor="let mat of dn.material; let i = index; trackBy: trackByIndex">
                  <ps-select placeholder="Epruveta" [polje]="skupno.sifranti.material" prikaz="o=>o.ime" name="material{{i}}" vrednost="o=>o.id"
                    [(ngModel)]="dn.material[i].material" required></ps-select>
                  <md-input-container>
                    <input mdInput placeholder="Količina" type="number" name="kolicinamaterial{{i}}" [(ngModel)]="dn.material[i].kolicina">
                  </md-input-container>
                  <button (click)="dn.material.splice(i, 1)" type="button" class="okrogel-gumb gumb-odstrani" md-raised-button color="primary"><i class="fa fa-minus" aria-hidden="true"></i></button>
                </div>
              </div>
            </div>
          </div>

          <!-----------Kontrola zravstvenega stanja krvi-------------->
          <div [hidden]="dn.vrstaobiska !== 6">
            <div class="brez-dodatnih-vnosov"> Brez dodatnih vnosov </div>
          </div>

        </div>

        <div class="desno">
          <h3>Datumi obiskov</h3>
          <div class="vrstica">
            <ps-datum placeholder="Datum prvega obiska" [(ngModel)]="dn.prviObisk" name="datumPrvi" [dovoljen]="prviDatum.bind(this)"></ps-datum>
            <br>
            <md-checkbox [(ngModel)]="dn.obveznostPrvega" name="obveznost"> Je obvezen</md-checkbox>
          </div>
          <div class="vrstica">
            <md-input-container>
              <input mdInput placeholder="Število obiskov" type="number" name="steviloObiskov" [(ngModel)]="dn.steviloObiskov" [validacija]="[steviloObiskovValidator.bind(this)]"
                required>
            </md-input-container>
          </div>
          <div class="vrstica">
            <label>Način planiranja: </label>
            <br>
            <md-radio-group [(ngModel)]="dn.nacinPorazdelitve" name="nacinPorazdelitve">
              <md-radio-button [value]="0">
                Interval
              </md-radio-button>
              <br>
              <md-radio-button [value]="1">
                Obdobje
              </md-radio-button>
            </md-radio-group>
          </div>
          <div class="vrstica" *ngIf="dn.nacinPorazdelitve === 0">
            <md-input-container>
              <input mdInput placeholder="Število dni med obiski" type="number" name="interval" [(ngModel)]="dn.interval" required>
            </md-input-container>
          </div>
          <div class="vrstica" *ngIf="dn.nacinPorazdelitve === 1">
            <ps-datum placeholder="Datum zadnjega obiska" [(ngModel)]="dn.zadnjiObisk" name="datumZadnji" [validacija]="[drugiDatum.bind(this)]"></ps-datum>
          </div>
        </div>
        <br>
      </div>
      <div class="vrstica">
        <!--[disabled]="!this.loginForm.valid"-->
        <button md-raised-button color="primary" type="submit" [disabled]="!f.valid">Ustvari delovni nalog</button>
      </div>
    </form>
  </md-card-content>
</md-card>