<md-card>
  <md-card-content>
    <h2> Določitev nadomestne sestre </h2>
  </md-card-content>
</md-card>

<md-card>
  <md-card-content>
    <div class="stolpca">
      <div class="levo">
        <h5>Izberi medicinsko sestro</h5>
        <md-select placeholder="" [(ngModel)]="this.nadomescanje.medicinskaSestra" name="sestra" (change)="zapolniDrugiSelect(); preveriDatum()"
          style="width:90%">
          <md-option *ngFor="let sestra of sestre" [value]="sestra.id">
            {{sestra.sifraZaposlenega+" : "+sestra.imePriimek}}
          </md-option>
        </md-select>

        <!-- PRVI CAS -->
        <h5>Začetek časovnega obdobja nadomeščanja:</h5>
        <ps-datum placeholder="Začetek nadomeščanja" [(ngModel)]="nadomescanje.zacetekCasovnega" name="datumPredviden" #datumPredviden="ngModel"
          (ngModelChange)="preveriDatum()" required></ps-datum>
        <span class="psinputerror" *ngIf="!datumPredviden.pristine && datumPredviden.invalid">nekaj</span>

        <!-- DRUGI CAS -->
        <h5>Konec časovnega obdobja nadomeščanja:</h5>
        <ps-datum placeholder="Konec nadomeščanja" [(ngModel)]="nadomescanje.konecCasovnega" name="datumDejanski" #datumDejanski="ngModel"
          (ngModelChange)="preveriDatum()" required></ps-datum>
        <span class="psinputerror" *ngIf="!datumDejanski.pristine && datumDejanski.invalid">nekaj</span>
        <div style="margin-top: 10px"></div>
        <div class="psinputerror">{{napaka}}</div>
      </div>

      <div class="desno">
        <h5>Izberi nadomestno medicinsko sestro</h5>
        <md-select placeholder="" [(ngModel)]="this.nadomescanje.nadomestnaSestra" name="sestra" style="width:90%">
          <md-option *ngFor="let nadomestna of nadomestne" [value]="nadomestna.id">
            {{nadomestna.sifraZaposlenega+" : "+nadomestna.imePriimek}}
          </md-option>
        </md-select>

        <h5>Obiski, ki jih bo nadomestna sestra nadomeščala:</h5>
        <div class="stolpca">

          <table class="tabelaobiskov">
            <tr>
              <th>predvideni</th>
              <th>planirani</th>
              <th>nadomestnasestra</th>
              <th>obvezen</th>
            </tr>
            <tr *ngFor="let o of obiski">
              <td>{{o.predvideni}}</td>
              <td>{{o.planirani}}</td>
              <td>{{o.nadomestnasestra}}</td>
              <td>{{o.obvezen}}</td>
            </tr>
          </table>
        </div>

      </div>
    </div>
    <div style="text-align: center; margin-top: 2%">
      <br>
      <button md-raised-button class="checkBox-margin" type="submit" [disabled]="!this.obiskiOk || this.nadomescanje.nadomestnaSestra === undefined" (click)="poslji(); preveriDatum()">Spremeni</button>
    </div>
  </md-card-content>
</md-card>