md-card {
    margin: 40px auto 40px auto;
    padding: 60px 80px 40px 80px;
    width: 80%; 
}

input {
    width: 300px;
}

.checkBox-margin {
  margin: 10px 10px;
}


.stolpca {
    display: flex;
    flex-direction: row;
}


.levo {
    width: 50%;    
    min-height: 200px;   
}

.desno {
    width: 50%;    
    border-left: 5px solid #edfcfb;
    padding-left: 40px;  
    min-height: 200px;   
}

.psinputerror2 {
    color: red;
    font-size: medium;
    position: relative;
}

.tip{
    font-weight: bold;    
}

table td{
    padding-right: 10px;
}

table tr:hover{
    background-color: #00d6c2;
    cursor: pointer;
}