<md-list>
  <h3 md-subheader>Uporabniki</h3>
  <md-list-item *ngFor="let uporabnik of uporabniki">
    <md-icon md-list-icon>person</md-icon>
    <h4 md-line>{{uporabnik.oseba.ime}} {{uporabnik.oseba.priimek}} id: {{uporabnik.oseba.id}} vloga: {{avtentikacija.vlogaString(uporabnik.uporabnik)
      | async}}</h4>
    <p md-line> email: {{uporabnik.uporabnik.email}} tel : {{uporabnik.oseba.tel}} </p>
    <p md-line> <button md-button>prijavi</button> <button md-button (click)="loginfrm(uporabnik.uporabnik.email)">v login formo</button></p>
  </md-list-item>
</md-list>