
/*h2 {
    padding-left: 10px;
}*/

md-card {
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    background-color: lightblue;
}

/*table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding-top: 10px;
    margin-top: 10px;
	text-align: center;
}*/

.naslov {
    border-bottom: 3px solid #edfcfb;
    margin-bottom: 20px;
}

.stolpca {
    display: flex;
    flex-direction: row;
}


.levo {
    width: 50%;    
    height: 70%;   
}

.desno {
    width: 50%;    
    border-left: 3px solid #edfcfb;
    padding-left: 40px;  
    height: 70%;
}

.levoScroll {
    height: 90%;
    overflow-y: scroll;  
}
.desnoScroll {
    height: auto;
    overflow-y: scroll;  
}

.seznamVseh {
    position: relative;
    width: 100%;
    height: auto
}

.obvezen {
    font-weight: bold;
}

.obisk {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.obiskpodatki{
    width: 100%;
    margin-right: 10px;   
    margin-bottom: 5px;
}

.obiskknof{
    width: 60px;
    right: 0px;
    visibility: hidden; 
}

.obisk:hover .obiskpodatki{
    background-color: rgba(52, 209, 185, 0.1);
}

.obisk:hover .obiskknof{
   visibility: visible; 
}

.dodan {
    color:gray;
}

.opravljen {
    color: darkgreen;
}

.dngumb{
    margin-right: 10px; 
    min-width: 30px;
    font-size: 12px;
    font-weight: bold;
}