<md-card>
    <md-card-content>
        <div class="naslov">
            <h2>Planer obiskov</h2>
        </div>
        <div class="stolpca">
            <div class="levo">
                <div style="height:80px;">
                    <h3>Možni obiski</h3>
                </div>
                <div>
                    <p>Okvirno določeni obiski, ki jih je mogoče dodati v plan:</p>
                </div>
                <div class="levoScroll">
                    <div class="obisk" *ngFor="let o of this.neuvrsceniObiski">
                        <div class="obiskpodatki" [ngClass]="{opravljen: o.dejanski}" (click)="obisci(o)">
                            <span [ngClass]="{obvezen: o.obvezen}">{{o.pacienti}}</span> &nbsp; obisk #{{o.id}}<br> &nbsp;
                            {{o.vrstaobiska}}<br> &nbsp;
                            <span>Predviden: {{o.predvideni | date: 'dd.MM.yyyy'}}</span>
                            <span *ngIf="o.planirani">, Planiran: {{o.planirani | date: 'dd.MM.yyyy'}}</span>
                            <span *ngIf="o.dejanski">, Opravljen: {{o.dejanski | date: 'dd.MM.yyyy'}}</span>
                        </div>
                        <button (click)="dnx(o)" type="button" class="okrogel-gumb dngumb obiskknof" md-raised-button color="primary">DN</button>
                        <div class="obiskknof">
                            <button (click)="dodajVPlan(o)" type="button" class="okrogel-gumb" md-raised-button color="primary"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="desno">
                <div style="height:80px;">
                    <h3>Plan obiskov</h3>
                    <label style="color:black">Planiraj za dan: </label>
                    <ps-datum placeholder="" [(ngModel)]="datum" (ngModelChange)="this.posodobiPodatke()"></ps-datum>
                </div>
                <div>
                    <p>Obiski, planirani za trenutno izbran dan:</p>
                </div>

                <div class="desnoScroll">
                    <div class="obisk" *ngFor="let o of this.planiraniObiskiDneva">
                        <div class="obiskpodatki" [ngClass]="{opravljen: o.dejanski}" (click)="obisci(o)">
                            <span [ngClass]="{obvezen: o.obvezen}">{{o.pacienti}}</span> &nbsp; obisk #{{o.id}}<br> &nbsp;
                            {{o.vrstaobiska}}<br> &nbsp;
                            <span>PR: {{o.predvideni | date: 'dd.MM.yyyy'}}</span>
                            <span *ngIf="o.planirani">, PL: {{o.planirani | date: 'dd.MM.yyyy'}}</span>
                            <span *ngIf="o.dejanski">, D: {{o.dejanski | date: 'dd.MM.yyyy'}}</span>
                        </div>
                        <div *ngIf="!o.obvezen && !o.dejanski" class="obiskknof">
                            <button (click)="odstrani(o)" type="button" class="okrogel-gumb" md-raised-button color="primary"><i class="fa fa-minus" aria-hidden="true"></i></button>
                        </div>
                        <button (click)="dnx(o)" type="button" class="okrogel-gumb dngumb obiskknof" md-raised-button color="primary">DN</button>
                    </div>
                </div>
            </div>
        </div>
    </md-card-content>
</md-card>


<md-card>
    <md-card-content>
        <div class="seznamVseh">
            <h3>Vnos/pregled podatkov o obiskih:</h3>
            <p>Urejati je mogoče obiske, ki so bili planirani na današnji datum, ali dan pred njim.</p>
            <p>Za starejše obiske je mogoče narediti le pregled podatkov.</p>

            <div class="obisk" *ngFor="let o of this.planiraniObiskiVsi">
                <div class="obiskpodatki" [ngClass]="{opravljen: o.dejanski}" (click)="meritve(o)">
                    <span [ngClass]="{obvezen: o.obvezen}">{{o.pacienti}}</span> &nbsp; obisk #{{o.id}}<br> &nbsp;
                    {{o.vrstaobiska}}<br> &nbsp;
                    <span>Predviden: {{o.predvideni | date: 'dd.MM.yyyy'}}</span>
                    <span *ngIf="o.planirani">, Planiran: {{o.planirani | date: 'dd.MM.yyyy'}}</span>
                    <span *ngIf="o.dejanski">, Opravljen: {{o.dejanski | date: 'dd.MM.yyyy'}}</span>
                </div>
                <div *ngIf="!o.obvezen && !o.dejanski" class="obiskknof">
                    <button (click)="odstrani(o)" type="button" class="okrogel-gumb" md-raised-button color="primary"><i class="fa fa-minus" aria-hidden="true"></i></button>
                </div>
                <button (click)="dnx(o)" type="button" class="okrogel-gumb dngumb obiskknof" md-raised-button color="primary">DN</button>
            </div>
        </div>
    </md-card-content>
</md-card>