<div *ngIf="avtentikacija.uporabnik !== null">
  <h3>Pozdravljen/a, {{avtentikacija.uporabnik.ime}} {{avtentikacija.uporabnik.priimek}} </h3>
  <p> Veseli nas, da spet uporabljate naše storivte </p>
  <p> Vaša vloga v sistemu patronažne službe: {{avtentikacija.vlogaString(avtentikacija.uporabnik) | async}} </p>
</div>