{{<mdl}}
    {{$title}} Patronažna služba - Prijava {{/title}}
    {{$content}}
        <br>
        <div class="" id="odzivStreznika"></div>
        <div class="row hide-on-med-and-down">
            <div class="col s7 push-s5 valign-wrapper">
                <img src="/static/img/login.jpg" alt="Prijavna slika" class="img-centered half-image">
            </div>
            <div class="col s5 pull-s7" style="padding-top:2%;">
                <!-- EMAIL -->
                <input id="large-email" type="email" class="validate" >
                <label for="email">Email</label>

                <!-- GESLO -->
                <input id="large-geslo" type="password" class="validate" oninput="Zgodba3.ValidateGeslo(this.id)">
                <label id="gesloLabela" for="password">Geslo</label>   
                <br><br>
                <button class="btn waves-effect waves-light prijavni-gumb" type="button" onclick="Zgodba3.PoskusiPrijavo('large-')" name="prijava">Prijava
                    <i class="material-icons right">send</i>
                </button>
                <button class="btn waves-effect waves-light" type="button" name="pozabljenoGeslo" style="background-color:#ff2111;">Pozabljeno geslo</button>
            </div>
        </div>
        <div class="row hide-on-large-only">
            <div class="col s12" style="padding-top:2%;">
                <!-- EMAIL -->
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>

                <!-- GESLO -->
                <input id="geslo" type="password" class="validate" oninput="Zgodba3.ValidateGeslo(this.id)">
                <label id="gesloLabela" for="password">Geslo</label>   
                <br><br>
                <button class="btn waves-effect waves-light prijavni-gumb" type="button" onclick="Zgodba3.PoskusiPrijavo('')" name="prijava">Prijava
                    <i class="material-icons right">send</i>
                </button>
                <button class="btn waves-effect waves-light" type="button" name="pozabljenoGeslo" style="background-color:#ff2111;">Pozabljeno geslo</button>
            </div>
        </div>
    {{/content}}
{{/mdl}}