<md-card>
  <md-card-content>
    <h2 *ngIf="avtentikacija?.uporabnik?.vloga !== 0"> SEZNAM OBISKOV</h2>
    <h2 *ngIf="avtentikacija?.uporabnik?.vloga === 0"> SEZNAM OBISKOV - PACIENT</h2>
  </md-card-content>    
</md-card>

<md-card>
    <div style="width: 100%;">
      <table *ngIf="avtentikacija.uporabnik.vloga !== 0">
        <h3>Predviden datum obiska:</h3>
        <tr>
          <!-- <td><md-input-container><input mdInput placeholder="Od" formControlName="DNObdobjeIzdajeOD"></md-input-container></td>-->
          <td><ps-datum placeholder="Začetni predviden datum:" [(ngModel)]="filtri.ObiskPredvideniOD" name="datumPredviden" ></ps-datum></td>
          <td><ps-datum placeholder="Končni predviden datum:" [(ngModel)]="filtri.ObiskPredvideniDO" name="datumPredviden" ></ps-datum></td>
        </tr>
        <h3>Dejanski datum obiska:</h3>
        <tr>
          <td><ps-datum placeholder="Začetni dejanski datum:" [(ngModel)]="filtri.ObiskDejanskiOD" name="datumDejanski" ></ps-datum></td>
          <td><ps-datum placeholder="Končni dejanski datum:" [(ngModel)]="filtri.ObiskDejanskiDO" name="datumDejanski" ></ps-datum></td>
          <td><button md-raised-button class="checkBox-margin" type="submit" (click)="onSubmit()">Filtriraj</button></td>
        </tr>
      </table>
      <button *ngIf="avtentikacija.uporabnik.vloga === 0" md-raised-button class="checkBox-margin" type="submit" (click)="onSubmit()">Filtriraj</button>
    </div>
  <md-card-content>
    <ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="onUserRowSelect($event)"></ng2-smart-table>
  </md-card-content>
</md-card>