<!-- [formGroup] je Angular property, formGroup pa je spremenljivka v kontekstu
     komponente, pridobljena preko Input (jo nastavi template parent komponente, in sicer
     na formo samo) -->
<div [formGroup]="formGroup">
    <p>
        <md-input-container>
            <input mdInput placeholder="Ime" formControlName="ime" style="width: 240px">
        </md-input-container>
        <md-input-container>
            <input mdInput placeholder="Priimek" formControlName="priimek">
        </md-input-container>
    </p>
    <p>
        <md-input-container>
            <input mdInput placeholder="Ulica" value="" formControlName="ulica" style="width: 240px">
        </md-input-container>
        <md-input-container>
            <input mdInput placeholder="Hišna številka" value="" formControlName="hisnastevilka" style="width: 140px">
        </md-input-container>
        <ps-autocomplete2 placeholder="Poštna številka" [polje]="sifranti.kraji" vrednost="x=>x.postna" formControlName="postna"
            style="width: 190px"></ps-autocomplete2>
    </p>
    <md-input-container>
        <input mdInput placeholder="Telefon" value="" formControlName="tel" style="width: 240px">
    </md-input-container>
</div>