<div [formGroup]="formGroup">
    <!-- iz krovne FormGroup instance te komponente pridobimo formGroup instanco
         podrejene komponente -->
    <oseba-form [formGroup]="formGroup.get('osebaForm')"> </oseba-form>
    <ps-autocomplete2 placeholder="Šifra okoliša" [polje]="sifranti.okolisi" vrednost="x=>x.id" prikaz="x=>`${x.id} : ${x.ime}`" formControlName="okolis"></ps-autocomplete2>
    <p>
        <md-input-container>
            <input mdInput placeholder="ZZZS" value="" formControlName="sifrazavarovanja" style="width: 200px">
        </md-input-container>
        <ps-datum [placeholder]="'Datum rojstva'" formControlName="datumrojstva" style="width: 200px; padding-right: 30px"></ps-datum>
        <md-select placeholder="Spol" formControlName="spol" style="width: 160px;">
            <md-option [value]="0">Moški</md-option>
            <md-option [value]="1">Ženska</md-option>
        </md-select>
    </p>
</div>
