<md-card>
  <md-card-content>
    <h2>Registracija v sistem</h2>
    <div class="splitter"></div>

    <h5> Vaši osebni podatki: </h5>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div style="margin-left: 16px;">
        <div formGroupName="osebaPacient">
          <pacient-form [formGroup]="registerForm.get('osebaPacient')"> </pacient-form>
        </div>
      </div>
      <h5> Vaši uporabniški podatki: </h5>
      <div style="margin-left: 16px;">
        <p>
          <md-input-container>
            <input mdInput placeholder="E-mail" value="" formControlName="email">
          </md-input-container>
        </p>
        <p>
          <md-input-container>
            <input mdInput placeholder="Geslo" value="" type="password" formControlName="geslo">
          </md-input-container>
          <span *ngIf="!registerForm.get('geslo').valid">
            <span class="psinputerror" *ngIf="registerForm.get('geslo').errors['premajhnogeslo'] && (registerForm.get('geslo').dirty || registerForm.get('geslo').touched)">Geslo mora vsebovati vsaj 8 znakov.</span>
            <span class="psinputerror" *ngIf="registerForm.get('geslo').errors['nistevilke']">Geslo mora vsebovati vsaj eno števko.</span>
          </span>
        </p>
        <p>
          <md-input-container>
            <input mdInput placeholder="Ponovite geslo" value="" type="password" formControlName="geslo2">
          </md-input-container>
          <span *ngIf="!registerForm.get('geslo2').valid">
            <span class="psinputerror" *ngIf="registerForm.get('geslo2').errors['nevjemanje']">Gesli se morata ujemati.</span>
          </span>
        </p>
      </div>

      <div class="splitter"></div>

      <h5> Kontaktna oseba (neobvezno): </h5>
      <div style="margin-left: 16px;">
        <span class='psinputerror' *ngIf="registerForm.get('osebaKontaktna').errors &&
              registerForm.get('osebaKontaktna').errors.delnoIzpolnjen ||
              !registerForm.get('osebaKontaktna').errors &&
              !registerForm.get('kontaktnarazmerje').valid">Izpolnjena morajo biti vsa polja</span>
        <div formGroupName="osebaKontaktna">
          <!-- template se izvede po ngOnInit, posledicno je instanca podrejene forme
              ze v obstoju - vendar pazi! - ngOnInit podrejenih komponent se izvede za
              parent komponento -->
          <oseba-form [formGroup]="registerForm.get('osebaKontaktna')"> </oseba-form>
        </div>

        <ps-select placeholder="Sorodstveno razmerje" [polje]="sifranti.sorodstvenaRazmerja" vrednost="x=>x.id" prikaz="x=>x.opis"
          formControlName="kontaktnarazmerje"></ps-select>
      </div>
      <div class="splitter"></div>

      <h5> Osebni podatki pacientov v vaši oskrbi (neobvezno): </h5>
      <div formArrayName="pacientiSkrbnika">
        <div *ngFor="let tPacientSkrbnika of pacientiSkrbnika.controls; let i=index">
          <div [formGroupName]="i">
            <div *ngIf="i>0">
              <div class="splitter"></div>
            </div>
            <div style="margin-left: 16px;">
              <pacient-form [formGroup]="registerForm.get('pacientiSkrbnika').controls[i].get('pacient')"> </pacient-form>
              <ps-select placeholder="Sorodstveno razmerje" [polje]="sifranti.sorodstvenaRazmerja" vrednost="x=>x.id" prikaz="x=>x.opis"
                formControlName="razmerje"></ps-select>
            </div>
          </div>
        </div>
      </div>
      <p style="text-align: center"><button md-raised-button type="button" (click)="dodajPacientaSkrbnika()">Nov pacient</button></p>
      <div class="splitter"></div>
      <p style="text-align: center">
        <button md-raised-button type="submit" [disabled]="!registerForm.valid" style="width: 150px">Registriraj</button>
      </p>
    </form>
    <br/>
  </md-card-content>
</md-card>