md-card {
    margin: 40px auto 40px auto;
    padding: 60px 80px 40px 80px;
    width: 600px; 
}

input {
    width: 290px;
}

.splitter {
    padding: 5px 5px 5px 5px;
    border-bottom: 2px solid#B2DFDB;
}