{{<mdl}}
    {{$title}} Patronažna služba - Stran administratorja {{/title}}

    {{$content}}
        {{>header-admin}}
        
		<div class="container">
			<div class="row">
				<div class="col s12">
					{{>ustvariNovegaZaposlenega}}
				</div>
			</div>
		</div>

        {{>footer}}    
    {{/content}}
{{/mdl}}