<md-card>
  <h2>Seznam izdanih delovnih nalogov</h2>
</md-card>

<md-card>
  <md-card-content>
    <div style="width: 100%;">
      <h3>Časovno obdobje izdaje:</h3>
      <table>
          <!-- <td><md-input-container><input mdInput placeholder="Od" formControlName="DNObdobjeIzdajeOD"></md-input-container></td>-->
          <td><ps-datum placeholder="Časovno obdobje od:" [(ngModel)]="filtri.DNObdobjeIzdajeOD" name="datumPrvi" ></ps-datum></td>
          <td><ps-datum placeholder="Časovno obdobje do:" [(ngModel)]="filtri.DNObdobjeIzdajeDO" name="datumZadnji" ></ps-datum></td>
          <td><button md-raised-button class="checkBox-margin" type="submit" (click)="onSubmit()">Filtriraj</button></td>
      </table>
    </div>
  </md-card-content>

  <md-card-content>
      <h3>Seznam filtriranih nalogov:</h3>
      <ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="onUserRowSelect($event)"></ng2-smart-table>
  </md-card-content>
</md-card>