<md-card>
  <md-card-content>
    <h2>Prijava v sistem</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <p>
        <md-input-container>
          <input mdInput placeholder="Email" formControlName="email">
        </md-input-container>
      </p>

      <p>
        <md-input-container>
          <input mdInput placeholder="Geslo" formControlName="geslo" type="password">
        </md-input-container>
      </p>

      <p>
        <button md-raised-button type="submit" [disabled]="this.ban || !this.loginForm.valid">Prijava</button>
        <span class="psinputerror">{{this.napaka}}</span>
      </p>
    </form>
  </md-card-content>
</md-card>