<md-card *ngIf="dn">
    <md-card-content>


        <h2> Vnos meritev </h2>

        <p> <label> Ime: </label> {{dn.ime}} </p>
        <p> <label> Priimek: </label> {{dn.priimek}} </p>
        <br>

        <p><span class="tip">Vrsta obiska:</span> {{dn.vrstaobiska}}</p>
        <p><span class="tip">Izdajatelj:</span> {{dn.izdajatelj}}</p>
        <p><span class="tip">Datum izdaje DN:</span> {{dn.datumizdaje | date: 'dd.MM.yyyy'}}</p>
        <p><span class="tip">Predvideni datum obiska:</span> {{predvideni | date: 'dd.MM.yyyy'}}</p>
        <p><span class="tip">Planiran datum obiska:</span> {{planirani | date: 'dd.MM.yyyy'}}</p>
        <p><span class="tip"> Obisk ID:</span> {{oid}}</p>
        <p><span class="tip"> Številka obiska:</span> {{stevilkaObiska}}</p>
        <p><span class="tip"> DN ID:</span> {{dn.id}}</p>

        
        <p><span class="tip"> Sestra:</span> {{sestra}}</p>
        <p><span class="tip"> Nadomestna sestra:</span> {{nadomestnasestra}}</p>
        


        <p *ngIf="dn.zdravila"><span class="tip">Zdravila:</span> {{dn.zdravila}}</p>
        <p *ngIf="dn.epruvete"><span class="tip">Material:</span> {{dn.epruvete}}</p>

        <div class="splitter"></div>

        <form #f="ngForm" (ngSubmit)="shrani2()">


            <p>
                <label> Datum obiska*: </label>
                <ps-datum [(ngModel)]="this.dejanski" name="dejanski" placeholder="" (ngModelChange)="preglejDatum()" required></ps-datum>
                <span style="margin-left:20px" class="psinputerror2">{{this.opozoriloDatumOpis}}</span>
                <button style="margin-left:20px" *ngIf="this.opozoriloDatumGumb" md-raised-button color="primary" type="button" (click)="potrdiDatum()">Potrdi datum obiska</button>
            </p>


            <!-- obisk nosecnice -->
            <div *ngIf="dn.vrstaobiskaid === 1">

                <p>
                    <label> Pričakovani datum poroda*: </label>
                    <ps-datum ngModel name="10_140" placeholder="" [disabled]="!this.mozenVnos" required></ps-datum>
                </p>

                <p> <label> Anamneza*: </label>
                    <textarea ngModel name="10_150" placeholder="Anamneza" [disabled]="!this.mozenVnos" required></textarea>
                </p>

                <p> <label> Družinska anamneza*: </label>
                    <textarea ngModel name="10_160" placeholder="Družinska anamneza" [disabled]="!this.mozenVnos" required></textarea>
                </p>

                <p>
                    <label> Izražanje čustev*: </label>
                    <md-radio-group ngModel name="10_170" [disabled]="!this.mozenVnos" required>
                        <md-radio-button value="1">Moteno</md-radio-button>
                        <md-radio-button value="2">Ni moteno</md-radio-button>
                    </md-radio-group>
                    <br><input ngModel name="10_170_prost" placeholder="prost vnos" [disabled]="!this.mozenVnos" style="margin-left:250px">
                </p>

                <p>
                    <label>Fizična obremenjenost*: </label>
                    <md-radio-group ngModel name="10_180" [disabled]="!this.mozenVnos" required>
                        <md-radio-button value="1">Nizka</md-radio-button>
                        <md-radio-button value="2">Srednja</md-radio-button>
                        <md-radio-button value="3">Visoka</md-radio-button>
                    </md-radio-group>
                    <br><input ngModel name="10_180_prost" placeholder="prost vnos" [disabled]="!this.mozenVnos" style="margin-left:250px">
                </p>

                <p>
                    <label> Sistolični krvni pritisk(110-150)*: </label> <input type="number" ngModel name="10_190_s"
                                                                            validacija="x=>(x.value >= 110 && x.value <= 150)"
                                                                            [disabled]="!this.mozenVnos" required> mm Hg
                </p>

                <p>
                    <label> Diastolični krvni pritisk(50-100)*: </label> <input type="number" ngModel name="10_190_d"
                                                                            validacija="x=>(x.value >= 50 && x.value <= 100)"
                                                                            [disabled]="!this.mozenVnos" required> mm Hg
                </p>

                <p>
                    <label> Srčni utrip(30-200)*: </label> <input type="number" ngModel name="10_200"
                                                                validacija="x=>(x.value >= 30 && x.value <= 200)"
                                                                [disabled]="!this.mozenVnos" required> udarcev na minuto
                </p>

                <p>
                    <label> Dihanje(2-50)*: </label> <input type="number" ngModel name="10_210"
                                                        validacija="x=>(x.value >= 2 && x.value <= 50)"
                                                        [disabled]="!this.mozenVnos" required> vdihov na minuto
                </p>

                <p>
                    <label> Telesna temperatura(24-45)*: </label> <input type="number" ngModel name="10_220"
                                                            validacija="x=>(x.value >= 24 && x.value <= 45)"
                                                            step="0.1" [disabled]="!this.mozenVnos" required> st C
                </p>

                <p>
                    <!-- se zajame samo pri prvem obisku, kasneje pa vnos ni možen -->

                    <span *ngIf="stevilkaObiska===1">
                        <label> Telesna teža pred nosečnostjo(10-650)*: </label> <input type="number" step="0.1"
                                                                                    ngModel name="10_230"
                                                                                    validacija="x=>(x.value >= 10 && x.value <= 650)"
                                                                                    [disabled]="!this.mozenVnos" required> kg
                    </span>
                    <span *ngIf="podatkiPrvi && stevilkaObiska!==1">
                        Telesna teža pred nosečnostjo: {{podatkiPrvi["10_230"]}} kg
                    </span>

                </p>

                <p>
                    <label> Trenutna telesna teža(10-650)*: </label> <input type="number" step="0.1" ngModel name="10_240"
                                                                        validacija="x=>(x.value >= 10 && x.value <= 650)"
                                                                        [disabled]="!this.mozenVnos" required> kg
                </p>

                <p><label>Seznanitev nosečnice o normalnem poteku nosečnosti in o spremembah na telesu.</label>
                    <textarea ngModel name="10_10" [disabled]="!this.mozenVnos"></textarea>
                </p>
                <p><label>Povabilo v šolo za starše.</label>
                    <textarea ngModel name="10_20" [disabled]="!this.mozenVnos" ></textarea>
                </p>
                <p><label>Seznanitev o rednih ginekoloških pregledih.</label>
                    <textarea ngModel name="10_30" [disabled]="!this.mozenVnos"></textarea>
                </p>
                <p><label>Seznanitev z bližajočim se porodom in pravočasnim odhodom v porodnišnico.</label>
                    <textarea ngModel name="10_40" [disabled]="!this.mozenVnos"></textarea>
                </p>
                <p><label>Pogovor in vključevanje partnerja v nosečnost in porod ter po prihodu domov.</label>
                    <textarea ngModel name="10_50" [disabled]="!this.mozenVnos" ></textarea>
                </p>
                <p><label>Svetovanje o pripomočkih, ki jih bo potrebovala v porodnišnici.</label>
                    <textarea ngModel name="10_60" [disabled]="!this.mozenVnos"></textarea>
                </p>
                <p><label>Seznanitev nosečnice o štetju in beleženju plodovih gibov.</label>
                    <textarea ngModel name="10_70" [disabled]="!this.mozenVnos"></textarea>
                </p>
                <p><label>Svetovanje glede opreme za novorojenca in primerno ležišče.</label>
                    <textarea ngModel name="10_80" [disabled]="!this.mozenVnos"></textarea>
                </p>
                <p><label>Svetovanje o pravilni prehrani, ustrezni izbiri obleke in obutve.</label>
                    <textarea ngModel name="10_90" [disabled]="!this.mozenVnos"></textarea>
                </p>
                <p><label>Svetovanje o primernem režim življenja, telesne vaje, gibanje na svežem zraku.</label>
                    <textarea ngModel name="10_100" [disabled]="!this.mozenVnos"></textarea>
                </p>
                <p><label>Odsvetovanje razvad kot so uživanje alkohola, kajenje, uživanje zdravil in drog.</label>
                    <textarea ngModel name="10_110" [disabled]="!this.mozenVnos"></textarea>
                </p>
                <p><label>Nevšečnosti (slabosti, bruhanja, zaprtja, pogostih mikcij, nespečnosti, zgage, ...).</label>
                    <textarea ngModel name="10_120" [disabled]="!this.mozenVnos"></textarea>
                </p>
                <p><label>Seznanitev nosečnice s pravicami do starševskega dopusta in o uveljavljanju pravic povezanih z rojstvom otroka. </label>
                    <textarea ngModel name="10_130" [disabled]="!this.mozenVnos"></textarea>
                </p>
            </div>

            <!-- Otroci -->
            <div *ngIf="dn.vrstaobiskaid === 2">
                
                <!-- ngIF otrocnica -->    
                <p> <label> Sistolični krvni pritisk(110-150)*: </label> <input type="number" ngModel name="20_160_s" validacija="x=>(x.value >= 110 && x.value <= 150)"
                        [disabled]="!this.mozenVnos" required> mm Hg </p>
                <p> <label> Diastolični krvni pritisk(50-100)*: </label> <input type="number" ngModel name="20_160_d" validacija="x=>(x.value >= 50 && x.value <= 100)"
                        [disabled]="!this.mozenVnos" required> mm Hg </p>
                <p> <label> Srčni utrip(30-200)*: </label> <input type="number" ngModel name="20_170" validacija="x=>(x.value >= 30 && x.value <= 200)"
                        [disabled]="!this.mozenVnos" required> udarcev na minuto </p>
                <p> <label> Dihanje(2-50)*: </label> <input type="number" ngModel name="20_180" validacija="x=>(x.value >= 2 && x.value <= 50)"
                        [disabled]="!this.mozenVnos" required> vdihov na minuto </p>
                <p> <label> Telesna temperatura(24-45)*: </label> <input type="number" ngModel name="20_190" validacija="x=>(x.value >= 24 && x.value <= 45)"
                        [disabled]="!this.mozenVnos" step="0.1" required> st C </p>
                <p> <label> Telesna teža(10-650)*: </label> <input type="number" step="0.1" ngModel name="20_200" validacija="x=>(x.value >= 10 && x.value <= 650)"
                        [disabled]="!this.mozenVnos" required> kg
                </p>
                <p> <label> Anamneza*: </label><textarea ngModel name="20_210" [disabled]="!this.mozenVnos" required></textarea></p>
                <p> <label> Družinska anamneza*:</label><textarea ngModel name="20_220" [disabled]="!this.mozenVnos" required></textarea></p>

                <p>
                    <label> Izražanje čustev*: </label>
                    <md-radio-group ngModel name="20_230" [disabled]="!this.mozenVnos" required>
                        <md-radio-button value="1">Moteno</md-radio-button>
                        <md-radio-button value="2">Ni moteno</md-radio-button>
                    </md-radio-group>
                    <br><input ngModel name="20_230_prost" [disabled]="!this.mozenVnos" placeholder="prost vnos" style="margin-left:250px">
                </p>

                <p>
                    <label> Fizična obremenjenost*: </label>
                    <md-radio-group ngModel name="20_240" [disabled]="!this.mozenVnos" required>
                        <md-radio-button value="1">Nizka</md-radio-button>
                        <md-radio-button value="2">Srednja</md-radio-button>
                        <md-radio-button value="3">Visoka</md-radio-button>
                    </md-radio-group>
                    <br><input ngModel name="20_240_prost" placeholder="prost vnos" [disabled]="!this.mozenVnos" style="margin-left:250px">
                </p>

                <p> <label> Kontrola vitalnih funkcij: </label>
                    <textarea ngModel name="20_20" [disabled]="!this.mozenVnos"> </textarea>
                </p>
                <p> <label> Opazovanje čišče: </label>
                    <textarea ngModel name="20_30" [disabled]="!this.mozenVnos"> </textarea>
                </p>
                <p> <label> Nadzor nad izločanjem blata in urina:  </label>
                    <textarea ngModel name="20_40" [disabled]="!this.mozenVnos"> </textarea>
                </p>
                <p> <label> Zdravstveno vzgojno delo glede pravilnega rokovanja z novorojenčkom, učenje tehnike nege novorojenčka: </label>
                    <textarea ngModel name="20_50" [disabled]="!this.mozenVnos"> </textarea>
                </p>
                <p> <label> Motivacija za dojenje. Nadzor in pomoč pri dojenju: </label>
                    <textarea ngModel name="20_60" [disabled]="!this.mozenVnos"> </textarea>
                </p>
                <p> <label> Svetovanje o čustveni podpori s strani partnerja: </label>
                    <textarea ngModel name="20_70" [disabled]="!this.mozenVnos"> </textarea>
                </p>
                <p> <label> Seznanitev o otrokovih potrebah po toplini, nežnosti in varnosti: </label>
                    <textarea ngModel name="20_80" [disabled]="!this.mozenVnos"> </textarea>
                </p>
                <p> <label> Svetovanje o spalnih potrebah otročnice, pravilni negi in higieni: </label>
                    <textarea ngModel name="20_90" [disabled]="!this.mozenVnos"> </textarea>
                </p>
                <p> <label> Svetovanje o pravilni prehrani, pitju ustreznih količin tekočin: </label>
                    <textarea ngModel name="20_100" [disabled]="!this.mozenVnos"> </textarea>
                </p>
                <p> <label> Poučitev o poporodni telovadbi: </label>
                    <textarea ngModel name="20_110" [disabled]="!this.mozenVnos"> </textarea>
                </p>
                <p> <label> Seznanitev z nekaterimi obolenji: </label>
                    <textarea ngModel name="20_120" [disabled]="!this.mozenVnos"> </textarea>
                </p>
                <p> <label> Napotitev na poporodni pregled: </label>
                    <textarea ngModel name="20_130" [disabled]="!this.mozenVnos"> </textarea>
                </p>
                <p> <label> Seznanitev z metodami zaščite pred nezaželjno nosečnostjo: </label>
                    <textarea ngModel name="20_140" [disabled]="!this.mozenVnos"> </textarea>
                </p>
                <p> <label> Svetovanje o normalnem delu, življenju in spolnih odnosih: </label>
                    <textarea ngModel name="20_150" [disabled]="!this.mozenVnos"> </textarea>
                </p>

                <div *ngFor="let otrok of dn.otroci" class="otrokrazdelek">
                    Podatki za otroka: <span class="otrokime">{{otrok.imepriimek}}</span>

                    <!-- ngIF novorojencek -->
                    <p> 
                        <span *ngIf="stevilkaObiska===1">
                            <label>Datum rojstva otroka*: </label>
                            <ps-datum ngModel name="o{{otrok.id}}_20_10_rojstvo" placeholder="" required [disabled]="!this.mozenVnos"></ps-datum>
                        </span>
                        <span *ngIf="podatkiPrvi && stevilkaObiska!==1">
                            Datum rojstva otroka: {{podatkiPrvi["o"+otrok.id+"_20_10_rojstvo"] | date: 'dd.MM.yyyy'}} 
                        </span>
                    </p>
                    <p>
                        <!-- se zajame samo pri prvem obisku, kasneje pa vnos ni možen -->
                        <span *ngIf="stevilkaObiska===1">
                            <label> Porodna teža otroka(200-10000)*: </label>
                            <input type="number" ngModel name="o{{otrok.id}}_20_10_porodnaTeza"
                                validacija="x=>(x.value >= 200 && x.value <= 10000)"
                                [disabled]="!this.mozenVnos" required> g
                        </span>
                        <span *ngIf="podatkiPrvi && stevilkaObiska!==1">
                            Porodna teža otroka: {{podatkiPrvi["o"+otrok.id+"_20_10_porodnaTeza"]}} g
                        </span>

                    </p>
                    <p>
                        <!-- se zajame samo pri prvem obisku, kasneje pa vnos ni možen -->
                        <span *ngIf="stevilkaObiska===1">
                            <label> Porodna višina otroka(20-75)*: </label>
                            <input type="number" ngModel name="o{{otrok.id}}_20_10_porodnaVisina"
                                validacija="x=>(x.value >= 20 && x.value <= 75)"
                                [disabled]="!this.mozenVnos" required> cm
                        </span>
                        <span *ngIf="podatkiPrvi && stevilkaObiska!==1">
                            Porodna višina otroka: {{podatkiPrvi["o"+otrok.id+"_20_10_porodnaVisina"]}} cm
                        </span>
                    </p>
                    <p>
                        <!-- se zajame samo pri prvem obisku, kasneje pa vnos ni možen -->
                        <span *ngIf="stevilkaObiska===1">
                            <label> Pregled materinske knjižice in odpustnice iz porodnišnice: </label>
                            <input ngModel name="o{{otrok.id}}_20_10_prost" [disabled]="!this.mozenVnos" placeholder="prost vnos">
                        </span>
                        <span *ngIf="podatkiPrvi && stevilkaObiska!==1">
                            Pregled materinske knjižice in odpustnice iz porodnišnice: {{podatkiPrvi["o"+otrok.id+"_20_10_prost"]}}
                        </span>
                    </p>
                    <p> <label> Trenutna telesna teža*: </label> <input type="number" step="0.1" ngModel name="o{{otrok.id}}_30_60"
                            [disabled]="!this.mozenVnos" required> g (d={{otrok.dt}}g)</p>
                    <p> <label> Trenutna telesna višina*: </label> <input type="number" step="0.1" ngModel name="o{{otrok.id}}_30_70"
                            [disabled]="!this.mozenVnos" required> cm (d={{otrok.dv}}cm)</p>
                    <p> <label> Dojenje*: </label>
                        <md-radio-group ngModel name="o{{otrok.id}}_30_80" [disabled]="!this.mozenVnos" required>
                            <md-radio-button value="1">Da</md-radio-button>
                            <md-radio-button value="2">Ne</md-radio-button>
                        </md-radio-group>
                        <br><input ngModel name="o{{otrok.id}}_30_80_prost" [disabled]="!this.mozenVnos" placeholder="prost vnos" style="margin-left:250px">
                    </p>
                    <p> <label> Dodajanje adaptiranega mleka*: </label>
                        <md-radio-group ngModel name="o{{otrok.id}}_30_90" [disabled]="!this.mozenVnos" required>
                            <md-radio-button value="1">Da</md-radio-button>
                            <md-radio-button value="2">Ne</md-radio-button>
                        </md-radio-group>
                        <br><input ngModel name="o{{otrok.id}}_30_90_prost" [disabled]="!this.mozenVnos" placeholder="prost vnos" style="margin-left:250px">
                    </p>
                    <p> <label> Izločanje in odvajanje*: </label>
                        <md-radio-group ngModel name="o{{otrok.id}}_30_100" [disabled]="!this.mozenVnos" required>
                            <md-radio-button value="1">Ni posebnosti</md-radio-button>
                            <md-radio-button value="2">Mikcija</md-radio-button>
                            <md-radio-button value="3">Defekacija</md-radio-button>
                            <md-radio-button value="4">Napenjanje</md-radio-button>
                            <md-radio-button value="5">Bruhanje</md-radio-button>
                        </md-radio-group>
                        <br><input ngModel name="o{{otrok.id}}_30_100_prost" [disabled]="!this.mozenVnos" placeholder="prost vnos" style="margin-left:250px">
                    </p>
                    <p> <label> Ritem spanja*: </label> <input ngModel name="o{{otrok.id}}_30_110" [disabled]="!this.mozenVnos" required></p>
                    <p> <label> Povišanje bilirubina (zlatenica)*: </label> <input ngModel name="o{{otrok.id}}_30_120" [disabled]="!this.mozenVnos" required></p>
                    <p> <label> Kolki*: </label> <input ngModel name="o{{otrok.id}}_30_130" [disabled]="!this.mozenVnos" required></p>
                    <p> <label> Prikaz nege dojenčka: </label> <input ngModel name="o{{otrok.id}}_30_10" [disabled]="!this.mozenVnos"></p>
                    <p> <label> Nega popokovne rane: </label> <input ngModel name="o{{otrok.id}}_30_20" [disabled]="!this.mozenVnos"></p>
                    <p> <label> Nudenje pomoči pri dojenju in seznanitev s tehnikami dojenja: </label> <input ngModel name="o{{otrok.id}}_30_30" [disabled]="!this.mozenVnos"></p>
                    <p> <label> Ureditev ležišča: </label> <input ngModel name="o{{otrok.id}}_30_40" [disabled]="!this.mozenVnos"></p>
                    <p> <label> Nasvet za povijanje, oblačenje, slačenje: </label> <input ngModel name="o{{otrok.id}}_30_50" [disabled]="!this.mozenVnos"></p>
                    <p> <label> Posebnosti: </label> <input ngModel name="o{{otrok.id}}_30_140" [disabled]="!this.mozenVnos"></p>
                </div>
            </div>

            <!-- starostnik -->
            <div *ngIf="dn.vrstaobiskaid === 3">
                <p><label> Anamneza*: </label><textarea ngModel name="40_10" required [disabled]="!this.mozenVnos"></textarea></p>
                <p><label> Družinska anamneza*: </label><textarea ngModel name="40_20" required [disabled]="!this.mozenVnos"></textarea></p>

                <p><label> Sistolični krvni pritisk(110-150)*: </label> <input type="number" ngModel name="40_30_s"
                        validacija="x=>(x.value >= 110 && x.value <= 150)"
                        [disabled]="!this.mozenVnos" required> mm Hg </p>
                <p><label> Diastolični krvni pritisk (50-100)*: </label> <input type="number" ngModel name="40_30_d"
                        validacija="x=>(x.value >= 50 && x.value <= 100)"
                        [disabled]="!this.mozenVnos" required> mm Hg </p>
                <p><label> Srčni utrip (30-200)*: </label> <input type="number" ngModel name="40_40"
                        validacija="x=>(x.value >= 30 && x.value <= 200)"
                        [disabled]="!this.mozenVnos" required> udarcev na minuto </p>
                <p><label> Dihanje(2-50)*: </label> <input type="number" ngModel name="40_50"
                        validacija="x=>(x.value >= 2 && x.value <= 50)"
                        [disabled]="!this.mozenVnos" required> vdihov na minuto </p>
                <p><label> Telesna temperatura(24-45)*: </label> <input type="number" ngModel name="40_60"
                        validacija="x=>(x.value >= 24 && x.value <= 45)"
                        [disabled]="!this.mozenVnos" step="0.1" required> st C </p>
                <p><label> Telesna teža(10-650)*: </label> <input type="number" step="0.1" ngModel name="40_70"
                        validacija="x=>(x.value >= 10 && x.value <= 650)"
                        [disabled]="!this.mozenVnos" required> kg</p>

                <p><label> Stanje neodvisnosti*: </label>
                    <md-radio-group ngModel name="40_150" [disabled]="!this.mozenVnos" required>
                        <md-radio-button value="1">Samostojen</md-radio-button>
                        <md-radio-button value="2">Delno odvisen</md-radio-button>
                        <md-radio-button value="3">Povsem odvisen</md-radio-button>
                    </md-radio-group>
                    <label> Stanje neodvisnosti (pomoč)*: </label>
                    <md-radio-group ngModel name="40_150_pomoc" [disabled]="!this.mozenVnos" required>
                        <md-radio-button value="1">Svojci</md-radio-button>
                        <md-radio-button value="2">Drugi</md-radio-button>
                    </md-radio-group>
                    <br><input ngModel name="40_150_prost" placeholder="prost vnos" [disabled]="!this.mozenVnos" style="margin-left:250px">
                </p>

                <div class="splitter"></div>

                <p><label> Osebna higiena: </label> <input ngModel name="40_80" [disabled]="!this.mozenVnos"> </p>
                <p><label> Prehranjevanje in pitje: </label> <input ngModel name="40_90" [disabled]="!this.mozenVnos"> </p>
                <p><label> Izločanje in odvajanje(urin): </label> <input ngModel name="40_100_urin" [disabled]="!this.mozenVnos"> </p>
                <p><label> Izločanje in odvajanje(blato): </label> <input ngModel name="40_100_blato" [disabled]="!this.mozenVnos"> </p>
                <p><label> Gibanje: </label> <input ngModel name="40_110" [disabled]="!this.mozenVnos"> </p>

                <p><label> Čutila in občutki (vid): </label> <input ngModel name="40_120_vid" [disabled]="!this.mozenVnos"> </p>
                <p><label> Čutila in občutki (vonj): </label> <input ngModel name="40_120_vonj" [disabled]="!this.mozenVnos"> </p>
                <p><label> Čutila in občutki (sluh): </label> <input ngModel name="40_120_sluh" [disabled]="!this.mozenVnos"> </p>
                <p><label> Čutila in občutki (okus): </label> <input ngModel name="40_120_okus" [disabled]="!this.mozenVnos"> </p>
                <p><label> Čutila in občutki (otip): </label> <input ngModel name="40_120_otip" [disabled]="!this.mozenVnos"> </p>

                <p><label> Spanje in počitek: </label> <input ngModel name="40_130" [disabled]="!this.mozenVnos"> </p>

                <p><label> Duševno stanje: </label> <input ngModel name="40_140" [disabled]="!this.mozenVnos"> </p>


                <p><label> Pregled predpisanih terapij: </label> <input ngModel name="40_160" [disabled]="!this.mozenVnos"> </p>
                <p><label> Pogovor, nasvet in vzpodbuda: </label> <input ngModel name="40_170" [disabled]="!this.mozenVnos"> </p>
            </div>

            <!--Aplikacija injekcij -->
            <div *ngIf="dn.vrstaobiskaid === 4">

                Označite aplicirana zdravila
                <div *ngFor="let zdravilo of dn.zdravilodns">
                    <p>
                        <md-checkbox ngModel name="z{{zdravilo.zdravilo}}_{{zdravilo.dn}}_50_10" [disabled]="!this.mozenVnos">{{zdravilo.zdravilostr}}</md-checkbox>
                    </p>
                </div>

                <p><label> Pogovor, nasvet in vzpodbuda: </label><input ngModel name="50_20" [disabled]="!this.mozenVnos"> </p>
            </div>

            <!-- odvzem krvi -->
            <div *ngIf="dn.vrstaobiskaid === 5">
                Vpišite količino porabljenega materiala
                <div *ngFor="let material of dn.materialdns">
                    <p><label> {{material.materialstr}} </label> <input ngModel name="m{{material.material}}_{{material.dn}}_60_10"
                            [disabled]="!this.mozenVnos" required> </p>
                </div>

                <p><label> Pogovor, nasvet in vzpodbuda: </label><input ngModel name="60_20" [disabled]="!this.mozenVnos"> </p>
            </div>

            <!-- kontrola -->
            <div *ngIf="dn.vrstaobiskaid === 6">
                <p><label> Sistolični krvni pritisk (110-150)*: </label> <input type="number" ngModel name="70_20_s" validacija="x=>(x.value >= 110 && x.value <= 150)"
                        [disabled]="!this.mozenVnos" required> mm Hg </p>
                <p><label> Diastolični krvni pritisk(50-100)*: </label> <input type="number" ngModel name="70_20_d" validacija="x=>(x.value >= 50 && x.value <= 100)"
                        [disabled]="!this.mozenVnos" required> mm Hg </p>
                <p><label> Srčni utrip(30-200)*: </label> <input type="number" ngModel name="70_30" validacija="x=>(x.value >= 30 && x.value <= 200)"
                        [disabled]="!this.mozenVnos" required> udarcev na minuto </p>
                <p><label> Dihanje(2-50)*: </label> <input type="number" ngModel name="70_40" validacija="x=>(x.value >= 2 && x.value <= 50)"
                        [disabled]="!this.mozenVnos" required> vdihov na minuto </p>
                <p><label> Telesna temperatura(24-45)*: </label><input type="number" ngModel name="70_50" validacija="x=>(x.value >= 24 && x.value <= 45)"
                        [disabled]="!this.mozenVnos" step="0.1" required> st C </p>
                <p><label> Krvni sladkor(0-20)*: </label><input type="number" ngModel name="70_60" validacija="x=>(x.value >= 0 && x.value <= 20)"
                        [disabled]="!this.mozenVnos" required> mmol/L 
                        <br><input ngModel name="70_60_prost" placeholder="prost vnos" style="margin-left:250px" [disabled]="!this.mozenVnos">
                </p>
                <p><label> Oksigenacija SpO2(51-100)*: </label><input type="number" ngModel name="70_70" validacija="x=>(x.value >= 51 && x.value <= 100)"
                        [disabled]="!this.mozenVnos" required> % </p>
                <p><label> Upoštevanje terapije*: </label>
                    <md-radio-group ngModel name="70_80" [disabled]="!this.mozenVnos" required>
                        <md-radio-button value="1">Da</md-radio-button>
                        <md-radio-button value="2">Delno</md-radio-button>
                        <md-radio-button value="3">Ne</md-radio-button>
                    </md-radio-group>
                    <br><input ngModel name="70_80_prost" placeholder="prost vnos" style="margin-left:250px" [disabled]="!this.mozenVnos">
                </p>

                <div class="splitter"></div>
                <p><label> Anamneza: </label><input ngModel name="70_10" [disabled]="!this.mozenVnos"> </p>
                <p><label> Pregled terapije: </label><input ngModel name="70_90" [disabled]="!this.mozenVnos"> </p>
                <p><label> Navodila za terapijo do naslednjega obiska: </label><input ngModel name="70_100" [disabled]="!this.mozenVnos"> </p>
                <p><label> Pogovor, nasvet in vzpodbuda: </label><input ngModel name="70_110" [disabled]="!this.mozenVnos"> </p>
            </div>

            <p><button md-raised-button color="primary" type="submit" [disabled]="!f.valid || !this.mozenVnos">Shrani</button></p>
        </form>




    </md-card-content>
</md-card>