md-card {
    margin: 40px auto 40px auto;
    padding: 60px 80px 40px 80px; 
}

input {
    width: 300px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.psinputerror2 {
    color: red;
    font-size: medium;
    position: relative;
}

.splitter {
    padding: 5px 5px 5px 5px;
    border-bottom: 2px solid#B2DFDB;
}

label {
    color: black;
    display: inline-block;
    width: 250px;
}

textarea {
    resize: vertical;
    width: 60%;
    height: 50px;
}

.otrokime {
    font-weight: bold;
}

.otrokrazdelek {
    border-left: 12px solid rgba(52, 209, 185, 0.1);
    margin-top: 40px;
    padding-left: 20px;
}

.tip{
    font-weight: bold;    
}
