<md-card>
  <md-card-content>
    <h2>Kreiranje uporabniškega računa zdravstvenega delavca</h2>

    <h3>Navodilo</h3>

    <p>
      Vsa polja so obvezna.
    </p>

    <h3>Izpolnite obrazec</h3>

    <form [formGroup]="loginForm" (ngSubmit)="dodaj()">
      <p>
        <md-select class="vloga" placeholder="Vloga" formControlName="vloga">
          <md-option *ngFor="let vloga of vloge" [value]="vloga.id">
            {{vloga.ime}}
          </md-option>
        </md-select>

        <ps-select *ngIf="izbranaVloga === 4" placeholder="Okoliš" [formControl]="okolisControl" [polje]="skupno.sifranti.okolisi"
          izpis="o=>o.id + ' ' + o.ime"></ps-select>
      </p>

      <p>
        <md-select class="izvajalec" placeholder="Izvajalec ZD" formControlName="izvajalec">
          <md-option *ngFor="let izvajalec of izvajalci" [value]="izvajalec.id">
            {{izvajalec.naziv}}
          </md-option>
        </md-select>
      </p>

      <p>
        <md-input-container>
          <input mdInput placeholder="Ime" formControlName="ime">
        </md-input-container>
        <md-input-container>
          <input mdInput placeholder="Priimek" formControlName="priimek">
        </md-input-container>
      </p>

      <p>
        <md-input-container>
          <input mdInput placeholder="Email" value="" type="email" formControlName="email">
        </md-input-container>

        <span *ngIf="!loginForm.get('email').valid">
        <span class="psinputerror" *ngIf="loginForm.get('email').errors !== null && loginForm.get('email').errors['zaseden']">Email ni prost.</span>
        </span>

        <md-input-container>
          <input mdInput placeholder="Telefon" value="" formControlName="telefon">
        </md-input-container>
      </p>

      <p>
        <md-input-container>
          <input mdInput placeholder="Geslo" value="" type="password" formControlName="geslo">
        </md-input-container>

        <span *ngIf="!loginForm.get('geslo').valid">
          <span class="psinputerror" *ngIf="loginForm.get('geslo').errors['premajhnogeslo']">Geslo mora vsebovati vsaj 8 znakov.</span>
        <span class="psinputerror" *ngIf="loginForm.get('geslo').errors['nistevilke']">Geslo mora vsebovati vsaj eno števko.</span>
        </span>
      </p>

      <p>
        <md-input-container>
          <input mdInput placeholder="Ponovite geslo" value="" type="password" formControlName="geslo2">
        </md-input-container>

        <span *ngIf="!loginForm.get('geslo2').valid">
          <span class="psinputerror" *ngIf="loginForm.get('geslo2').errors['nevjemanje']">Gesli se morata ujemati.</span>
        </span>
      </p>


      <button md-raised-button color="primary" type="submit" [disabled]="!this.loginForm.valid">Dodaj uporabnika</button>

    </form>

  </md-card-content>
</md-card>