form p {
    padding: 10px;
}

h2 {
    padding-bottom: 20px;
}

h3 {
    padding: 5px 0px 5px 0px;
}

form {
    margin-left: 100px;
    width: 500px;   
    padding-bottom: 40px;
}

/* eh lah bi blo lepse */
form input {
    width: 230px;
}


form input.ulica {
    width: 360px;
}

form input.hisna {
    width: 100px;
}


.vloga {
    width: 200px;
    /*margin-right:50px; */
}

.okolis {
    width: 300px;
}

.izvajalec {
    width: 460px;
}

