.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

#up_ime_priimek {
  font-size: smaller;
}

.app-content {
  padding: 25px 100px 25px 100px;
}


.navbar {
  box-shadow: 0px 5px 20px #D0D0D0;
}

.pstitle {
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 2px;
  text-decoration: underline;  

  position: relative;
  top: 5px;
}

.pstitlelink {
  color: white;
  text-decoration: none; 
}

.pstitlelink:hover {
  color:#f0f0f0;
}


.pstitleicon {
  font-size: 32px;
  margin:0 20px 0 20px;  
  position: relative;
  top: 5px;
}

:host /deep/ .okrogel-gumb{
  padding: 0px;
  width: 30px;
	height: 30px;	
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;

  min-width: 0;
  line-height: normal;   
  background-color: #00d6c2;
}

:host /deep/ .okrogel-gumb div {
  padding: 0px;
  width: 30px;
	height: 30px;	
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
  min-width: 0;
  line-height: normal;     
}

.zadnjaPrijava {
  font-size: 9pt;
}

.novogeslolink {
  color: white;
  text-decoration: none; 
}

.novogeslolink:hover {
  color:#f0f0f0;
}
