<md-sidenav-container fullscreen>

  <div class="navbar">
    <md-toolbar color="primary">
     <a class="pstitlelink" [routerLink]="'/'"><i class="fa fa-heartbeat pstitleicon" aria-hidden="true"></i><span class="pstitle">Patronažna služba</span></a>
      <span class="example-spacer"></span>
      <a *ngIf="avtentikacija.uporabnik === undefined" md-button class="docs-button" routerLink="login">Prijava</a>
      <a *ngIf="avtentikacija.uporabnik === undefined" md-button class="docs-button" routerLink="register">Registracija</a>

      <span id="up_ime_priimek" *ngIf="avtentikacija.oseba">
        <div layout="row" layout-align="center end">
          <div>{{avtentikacija.oseba.ime}} {{avtentikacija.oseba.priimek}}, {{avtentikacija.vlogaStr}}</div>
          <div *ngIf="avtentikacija.timestampPrijave" class="zadnjaPrijava">Zadnja prijava: {{avtentikacija.timestampPrijave}}</div>
          <div *ngIf="!avtentikacija.timestampPrijave" class="zadnjaPrijava">Prva prijava v sistem</div>
        </div>
      </span>     
      <a *ngIf="avtentikacija.uporabnik" md-button class="docs-button" style="margin-left: 10px;" (click)="odjava()">Odjava</a>
      <a class="novogeslolink" *ngIf="avtentikacija.uporabnik" [routerLink]="['novogeslo']"><i class="fa fa-cog" aria-hidden="true"></i></a>      
    </md-toolbar>
    <div class="navbar-theme" *ngIf="avtentikacija.uporabnik != null">
      <nav md-tab-nav-bar >
        <!-- admin -->
        <a md-tab-link [routerLink]="['admin', 'seznam-uporabnikov']" *ngIf="avtentikacija.uporabnik.vloga===1" routerLinkActive #seznamuporabnikov="routerLinkActive" [active]="seznamuporabnikov.isActive"> Seznam uporabnikov  </a>
        <a md-tab-link [routerLink]="['admin', 'dodaj-uporabnika']" *ngIf="avtentikacija.uporabnik.vloga===1" routerLinkActive #dodajuporabnika="routerLinkActive" [active]="dodajuporabnika.isActive">  Dodaj uporabnika </a>
        <a md-tab-link [routerLink]="['kreiraj-dn']" *ngIf="avtentikacija.uporabnik.vloga===2 || avtentikacija.uporabnik.vloga===3" routerLinkActive #kreirajdn="routerLinkActive" [active]="kreirajdn.isActive"> Nov delovni nalog </a>
        <a md-tab-link [routerLink]="['izpisSeznamDN']"  *ngIf="avtentikacija.uporabnik.vloga===2 || avtentikacija.uporabnik.vloga===3 || avtentikacija.uporabnik.vloga===4" routerLinkActive #izpisSeznamDN="routerLinkActive" [active]="izpisSeznamDN.isActive"> Filtriraj delovne naloge </a>
        <a md-tab-link [routerLink]="['planiranjeObiskov']" *ngIf="avtentikacija.uporabnik.vloga===4" routerLinkActive #planiranjeObiskov="routerLinkActive" [active]="planiranjeObiskov.isActive"> Planiranje obiskov</a>
        <a md-tab-link [routerLink]="['seznamObiskov']" *ngIf="avtentikacija.uporabnik.vloga===0 || avtentikacija.uporabnik.vloga===2 || avtentikacija.uporabnik.vloga===3 || avtentikacija.uporabnik.vloga===4" routerLinkActive #seznamObiskov="routerLinkActive" [active]="seznamObiskov.isActive"> Seznam obiskov </a>
        <a md-tab-link [routerLink]="['nadomestneSestre']" *ngIf="avtentikacija.uporabnik.vloga===3" routerLinkActive #nadomestneSestre="routerLinkActive" [active]="nadomestneSestre.isActive"> Nadomeščanja </a>
      </nav>
    </div>
  </div>

  <div class="app-content">
    <router-outlet></router-outlet>
  </div>

</md-sidenav-container>