<md-grid-list cols="6" rowHeight="100px">
    
    <md-grid-tile colspan="3" rowspan="3">
        <img src="assets/HomeMed.jpg" height="100%" width="70%">
    </md-grid-tile>
    <md-grid-tile colspan="3" rowspan="3">
        <p>SPLETNA PLATFORMA ZA PREGLED IN NAROČANJE MEDICINSKE POMOČI NA VAŠEM DOMU.</p>
    </md-grid-tile>

    <md-grid-tile colspan="3" rowspan="3">
        <p>"Patronažna služba" je projektna naloga pri predmetu Tehnologija programske opreme - Razvoj po agilni metodologiji Scrum.</p>
    </md-grid-tile>
    <md-grid-tile colspan="3" rowspan="3">
        <img src="assets/ScrumFramework.png" height="72%" width="72%">
    </md-grid-tile>
    <md-grid-tile colspan="3" rowspan="3">
        <img src="assets/fri_logo.png" height="60%" width="70%">
    </md-grid-tile>
    <md-grid-tile colspan="3" rowspan="3">
        <p style="margin-top:18%">Projektno nalogo skupaj razvijamo 4 študentje: Matej Jordan, Edo Ljubljankič, Tadej Pečar in Tomas Štefe.</p>
    </md-grid-tile>
    
</md-grid-list>