<!--class DN {
    public Integer   id;
    public String   vrstaobiska;
    public String   izdajatelj;
    public Timestamp datumizdaje;
    public String zdravila;

    public String pacienti;
    public String epruvete;

    List<Obisk> obiski = new ArrayList<Obisk>();
}

class Obisk{
    public Integer id;
    public Date    predvideni;
    public Date    planirani;
    public Date    dejanski;
    public String sestra;
    public String nadomestnasestra;
    public Boolean obvezen;
}-->

<md-card *ngIf="dn">
  <md-card-content>

    <h2>DN #{{dn.id}}</h2>

    <p><span class="tip">Vrsta obiska:</span> {{dn.vrstaobiska}}</p>
    <p><span class="tip">Pacient/i:</span> {{dn.pacienti}}</p>
    <p><span class="tip">Izdajatelj:</span> {{dn.izdajatelj}}</p>
    <p><span class="tip">Datum izdaje:</span> {{dn.datumizdaje}}</p>
    <p *ngIf="dn.zdravila"><span class="tip">Zdravila:</span> {{dn.zdravila}}</p>
    <p *ngIf="dn.epruvete"><span class="tip">Material:</span> {{dn.epruvete}}</p>
    <p><span class="tip">Seznam obiskov:</span></p>
    <table class="tabelaobiskov">
      <tr>
        <th>predvideni</th>
        <th>planirani</th>
        <th>dejanski</th>
        <th>sestra</th>
        <th>nadomestnasestra</th>
        <th>obvezen</th>
      </tr>
      <tr *ngFor="let o of dn.obiski" (click)="obiskIzbran(o.id)">
        <td>{{o.predvideni}}</td>
        <td>{{o.planirani}}</td>
        <td>{{o.dejanski}}</td>
        <td>{{o.sestra}}</td>
        <td>{{o.nadomestnasestra}}</td>
        <td>{{o.obvezen}}</td>
      </tr>
    </table>


  </md-card-content>
</md-card>