@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$ps-app-primary: mat-palette($mat-teal);
$ps-app-accent:  mat-palette($mat-teal);
$ps-app-warn:    mat-palette($mat-red);
$ps-app-theme: mat-light-theme($ps-app-primary, $ps-app-accent, $ps-app-warn);
@include angular-material-theme($ps-app-theme);


.navbar-theme {   
   nav {  
    //background-color:  mat-color($ps-app-primary);
    color:white;    
   }
   .mat-ink-bar{
       background-color: #f4f4f4;
   }
}



.navbar  {
    background-color:  mat-color($ps-app-primary);
    background-image: url("./assets/transparent-square-tiles.png");
}

.mat-toolbar.mat-primary {
    background: transparent;
}

.psinputerror {
    color: red;
    font-size: small;
    position: relative;
    left: 10px;
}

label {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
    color:rgba(0, 0, 0, 0.38);
}

