
{{<mdl}}
  {{$title}} Patronažna služba - Kreiranje novega računa za zdravstveno osebje {{/title}}
  {{$content}} 
        <!-- obravnava akcij gumbov - zaenkrat po locenih js datotekah, kasneje
             je namen, da se to zdruzi v skupni js, ter to doda v header -->
        <!--<script defer src="/static/js/Zgodba1.js"></script>-->

        <div class="mdl-grid center-items">
                    <!-- tukaj sledi forma za prijavo -->
                <div class="mdl-cell mdl-cell--middle mdl-cell--4-col ">
                    <form>
                        <div id="sporocilo"></div>
                        <!-- IME in PRIIMEK uporabnika -->
                        <div class="mdl-textfield mdl-js-textfield">
                            <input  name="ime" class="mdl-textfield__input" type="text" id="ime" pattern="[A-Z,a-z, ]*">
                            <label class="mdl-textfield__label" for="user">Ime</label>
                            <span class="mdl-textfield__error">Samo črke in presledki</span>
                        </div>
                            
                        <div class="mdl-textfield mdl-js-textfield">
                            <input  name="priimek" class="mdl-textfield__input" type="text" id="priimek" pattern="[A-Z,a-z, ]*">
                            <label class="mdl-textfield__label" for="user">Priimek</label>
                            <span class="mdl-textfield__error">Samo črke in presledki</span>
                        </div>
                        <br />
                        <!-- NASLOV -->
                        <div class="mdl-textfield mdl-js-textfield">
                            <input  name="naslov" class="mdl-textfield__input" type="text" id="naslov" pattern="[A-Z,a-z, ]*">
                            <label class="mdl-textfield__label" for="user">Naslov</label>
                            <span class="mdl-textfield__error">Samo črke in presledki</span>
                        </div>
                        
                        <!-- GESLO -->
                        <div class="mdl-textfield mdl-js-textfield">
                            <input  name="geslo" class="mdl-textfield__input" type="password" id="geslo" pattern="[A-Z,a-z, ]*">
                            <label class="mdl-textfield__label" for="password">Geslo</label>
                        </div>

                        <hr />

                        <!-- E-Mail -->
                        <div class="mdl-textfield mdl-js-textfield">
                            <input  name="email" class="mdl-textfield__input" type="text" id="email">
                            <label class="mdl-textfield__label" for="user">E-mail</label>
                        </div>
                        <br />
                        <!-- TEL STEVILKA -->
                        <div class="mdl-textfield mdl-js-textfield">
                            <input  name="tel" class="mdl-textfield__input" type="text" id="tel" pattern="[0-9]*">
                            <label class="mdl-textfield__label" for="telStevilka">Telefonska številka</label>
                            <span class="mdl-textfield__error">Samo številke</span>
                        </div>

                        <hr />

                        <!-- SIFRA IZVAJALCA -->
                        <div class="mdl-textfield mdl-js-textfield">
                            <input name="sifraIzvajalec" class="mdl-textfield__input" type="text" id="sifraIzvajalec" pattern="[0-9]*">
                            <label class="mdl-textfield__label" for="telStevilka">Šifra izvajalca</label>
                            <span class="mdl-textfield__error">Samo številke</span>
                        </div>

                        <br />

                        <!-- SIFRA ZAPOSLENEGA -->
                        <div class="mdl-textfield mdl-js-textfield">
                            <input  name="sifraZaposleni" class="mdl-textfield__input" type="text" id="sifraZaposleni" pattern="[0-9]*">
                            <label class="mdl-textfield__label" for="telStevilka">Šifra zaposlenega</label>
                        </div>
                        <br />
                        <label>Izberi vrsto zaposlenega</label>
                        <div class="mdl-selectfield">
                            <input type="hidden" name="vloga">
                            <select class="browser-default" id="vloga">
                                <!-- naredi, da se sinhronizira iz baze -->
                                <option value="" disabled selected></option>
                                <option value="0">Administrator</option>
                                <option value="1">Zdravnik</option>
                                <option value="2">Vodja patronažne službe</option>
                                <option value="3">Medicinska sestra</option>
                                <option value="4">Uslužbenec</option>
                                <!-- zadnji (5) je pacient, tega se tu ne da kreirati -->
                            </select>
                        </div>
                        <br />
                        <button onclick="Zgodba1.PridobiSifro()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent gumbPrijava">
                            Generiraj novo šifro zaposlenega
                        </button>
                        <br />
                        
                        <hr />
                        <button onclick="Zgodba1.RegistrirajZO()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent gumbPrijava">
                            Registriraj novega zdravstvenega delavca
                        </button>

                    </form>
                </div>
        </div>
  
  {{/content}}
{{/mdl}}
