           <div class="col s12" style="margin-bottom:20px;">
                <ul class="tabs">
                    <li class="tab col s3"><a href="#test1" style="color:green;">Nov delovni nalog</a></li>
                    <li class="tab col s3"><a href="#test2" style="color:green;">Nov uporabnik</a></li>
                </ul>
            </div>
            
            <div id="test1" class="col s12">
                11
            </div>