
  <md-input-container>
    <input [class.vsebujestring]="vsebujeString" type="text" [placeholder]="placeholder" mdInput [formControl]="inputControl" [mdAutocomplete]="mdRef">
  </md-input-container>
  <md-autocomplete #mdRef="mdAutocomplete" [displayWith]="izvediPrikaznoFunkcijo.bind(this)">
    <md-option *ngFor="let o of filtriranoPolje | async" [value]="o">
      {{_prikaz(o)}}
    </md-option>
  </md-autocomplete>
