{{<mdl}}   
    {{$content}}
		<div>
			<div class="col s7">
				<img src="/static/img/login.jpg" alt="Prijavna slika" class="img-centered half-image">
			</div>
			<p>Spremenite geslo:</p>
			<div class="" id="odzivStreznika"></div>
			<div class="col s5" style="padding-top:2%;">
				<form>	 
					<!--STARO GESLO -->
					<div>
					<input id="old_password" type="password" class="validate">
					<label for="old_password">Vnesite trenutno geslo</label>
					</div>
					
					<div>
					<input id="new_password" type="password" class="validate" pattern="(?=.*\d).{8,}" required title="8 znakov minimalno, vsaj 1 cifra">
					<label for="new_password">Vnesite novo geslo</label>
					</div>

					<div>
					<input id="confirm_password" type="password" class="validate" pattern="(?=.*\d).{8,}" required title="8 znakov minimalno, vsaj 1 cifra">
					<label for="confirm_password">Potrdi novo geslo</label>
					</div>
					<br><br>	

					<button class="btn waves-effect waves-light" type="submit" onclick="Zgodba4.PoskusiSprememboGesla()"
						name="prijava">SHRANI<i class="material-icons right">send</i>
					</button>
				</form>	
			</div>
		</div>	
		
		{{/content}}
{{/mdl}}