{{<mdl}}
    {{$title}}Registracija uporabnika{{/title}}
    {{$content}}
    <script type="text/javascript">
            $(document).ready(()=>{
                Zgodba2.GenerirajPostneStevilke();
            });
        </script>
    
        <div class="col s12" style="margin-top:4%;">
            <div class="" id="odzivStreznika"></div>
            <form class="col s12">

                    <!-- OSEBNI PODATKI -->
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="pacient_ime" type="text" class="validate">
                        <label for="pacient_ime">Ime</label>
                    </div>

                    <div class="input-field col s6">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="pacient_priimek" type="text" class="validate">
                        <label for="pacient_priimek">Priimek</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s4">
                        <i class="material-icons prefix">perm_identity</i>
                        <select id="spol">
                            <option value="" disabled selected></option>
                            <option value="1">Ženski</option>
                            <option value="2">Moški</option>
                        </select>
                        <label>Izberi spol</label>
                    </div>

                    <div class="input-field col s4">
                        <i class="material-icons prefix">credit_card</i>
                        <input id="pacient_zzzsStevilka" type="number" class="validate" data-length="9" min="0">
                        <label for="pacient_zzzsStevilka">Številka ZZZS</label>
                    </div>

                    <div class="input-field col s4">
                        <i class="material-icons prefix">today</i>
                        <input id="pacient_datumRojstva" type="date" class="datepicker">
                    </div>
                </div>

                    <!-- NASLOV -->
                <div class="row">
                    <div class="input-field col s4">
                        <i class="material-icons prefix">markunread_mailbox</i>
                        <input id="pacient_ulica" type="text" class="validate">
                        <label for="pacient_ulica">Ulica bivanja</label>
                    </div>

                    <div class="input-field col s4">
                        <input id="pacient_kraj" type="text" class="validate">
                        <label for="pacient_kraj">Kraj bivanja</label>
                    </div>
                    
                    <div class="input-field col s4">
                        <select id="pacient_pStevilka" class="browser-default PostnaStevilka" style="margin-top:-2%; width:100%;">
                            <option value="" disabled selected>Izberi svojo poštno število</option>
                            <option value="1">1000 Ljubljana</option>
                        </select>
                    </div>
                </div>

                    <!-- KONTAKTNI PODATKI -->
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">phone</i>
                        <input id="pacient_telefon" type="tel" class="validate">
                        <label for="pacient_telefon">Telefonska številka</label>
                    </div>

                    <div class="input-field col s6">
                        <i class="material-icons prefix">email</i>
                        <input id="pacient_email" type="email" onblur="Zgodba2.PreveriEmail()" class="validate">
                        <label for="pacient_email" data-error="e-mail ni pravilnega formata">Email</label>
                    </div>
                </div>

                    <!-- GESLO -->
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">lock</i>
                        <input id="pacient_geslo" type="password" oninput="Zgodba1.PreveriPravilnostGesla(this.id)" onblur="Zgodba2.PreveriPodobnostGesla()" class="validate">
                        <label for="pacient_geslo">Geslo</label>
                    </div>

                    <div class="input-field col s6">
                        <i class="material-icons prefix">lock</i>
                        <input id="pacient_geslo2" type="password" oninput="Zgodba1.PreveriPravilnostGesla(this.id)" onblur="Zgodba2.PreveriPodobnostGesla()" class="validate">
                        <label for="pacient_geslo2">Ponovi geslo</label>
                    </div>
                </div>

                    <!-- TA DIV JE SAMO ZA TO, DA GA POSTAVIM NA SREDO -->
                <div class="row">
                    <div class="col s4"></div>

                    <div class="col s4">
                        <a class="waves-effect waves-light btn" onclick="Zgodba2.RegisterPacientDodajKontaktnoOsebo()">Dodaj kontakno osebo</a>
                    </div>

                    <div class="col s4"></div>
                </div>

                    <!-- KONTAKTNA OSEBA -->
                <div id="kontknaOsebaBox" class="row" style="margin-bottom:2%; display:none;">
                        <!-- OSEBNI PODATKI KONTAKTNE OSEBE -->
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="pacientKontakna_ime" type="text" class="validate">
                            <label for="pacientKontakna_ime">Ime kontakne osebe</label>
                        </div>

                        <div class="input-field col s6">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="pacientKontakna_priimek" type="text" class="validate">
                            <label for="pacientKontakna_priimek">Priimek kontakne osebe</label>
                        </div>
                    </div>
                        <!-- NASLOV -->
                    <div class="row">
                        <div class="input-field col s4">
                            <i class="material-icons prefix">markunread_mailbox</i>
                            <input id="pacientKontakna_ulica" type="text" class="validate">
                            <label for="pacientKontakna_ulica">Ulica bivanja</label>
                        </div>

                        <div class="input-field col s4">
                            <input id="pacientKontakna_kraj" type="text" class="validate">
                            <label for="pacientKontakna_kraj">Kraj bivanja</label>
                        </div>
                        <div class="input-field col s4">
                            <select id="pacientKontakna_pStevilka" class="browser-default PostnaStevilka" style="margin-top:-2%; width:100%;">
                                <option value="" disabled selected>Izberi svojo poštno število</option>
                                <option value="1">1000 Ljubljana</option>
                            </select>
                        </div>
                    </div>

                        <!-- KONTAKTNI PODATKI -->
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">phone</i>
                            <input id="pacientKontakna_telefon" type="tel" class="validate">
                            <label for="pacientKontakna_telefon">Telefonska številka</label>
                        </div>                         

                        <div class="input-field col s6">
                            <i class="material-icons prefix">supervisor_account</i>
                            <select id="pacientKontaktna_razmerje">
                                <option value="" disabled selected></option>
                                <option value="1">Žena/Mož</option>
                                <option value="2">Brat/Sestra</option>
                                <option value="3">Hčer/Sin</option>
                                <option value="4">Dedek/Babica</option>
                                <option value="5">Partner/(ica)</option>
                            </select>
                            <label>Sorodstveno razmerje</label>
                        </div>
                    </div>
                </div>
                    
                <div class="row">
                    <div class="col s4"></div>

                    <div class="col s4">
                        <a class="waves-effect waves-light btn" onclick="Zgodba2.Registriraj()">Registriraj</a>
                    </div>

                    <div class="col s4"></div>
                </div>

                <!-- 
                <div class="row">
                    <div class="col s12">
                        <ul id="pacient" class="tabs">
                            <li class="tab col s3"><a href="#test1">Test 1</a></li>
                            <li class="tab col s3"><a class="active" href="#test2">Test 2</a></li>
                            <li class="tab col s3 disabled"><a href="#test3">Disabled Tab</a></li>
                            <li class="tab col s3"><a href="#test4">Test 4</a></li>
                        </ul>
                    </div>
                </div>
                -->
            </form>
        </div>
    {{/content}}
{{/mdl}}